{% extends "::base.html.twig" %}

{% block body %}
<h1>User</h1>

<form method="post" action="{{ path('user_edit', {'id':user.id}) }}">
{% include "ClubUserBundle:User:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
