{% extends "ClubUserBundle::base.html.twig" %}

{% block body %}

<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="{{ path('club_user_usersetting_index') }}">{% trans %}Settings{% endtrans %}</a>
        </ul>
    </div>
</div>

<form method="post" action="{{ path('user') }}" class="form-horizontal">
{% include "ClubUserBundle:User:form.html.twig" %}
</form>

{% endblock %}
