{% extends "ClubUserBundle::base.html.twig" %}

{% block body %}

<form method="post" action="{{ path('user') }}">
{% include "ClubUserBundle:User:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
