{% extends "ClubUserBundle::base.html.twig" %}

{% block pagenav %}
{% include "ClubUserBundle:User:header.html.twig" %}
{% endblock %}

{% block body %}
<form method="post" action="{{ path('user') }}" class="form-horizontal">
{% include "ClubUserBundle:User:form.html.twig" %}
</form>
{% endblock %}
