{% extends "ClubUserBundle::base.html.twig" %}

{% block header %}
<h1 class="page-header"><img class="img-polaroid" src="{{ asset('bundles/clublayout/images/icons/32x32/user.png') }}" /> {{ app.user.name }}</h1>
{% endblock %}

{% block pagenav %}
{% include "ClubUserBundle:User:header.html.twig" %}
{% endblock %}

{% block body %}
<form method="post" action="{{ path('user') }}" class="form-horizontal" role="form">
{% include "ClubUserBundle:User:form.html.twig" %}
</form>
{% endblock %}
