{% extends "::base.html.twig" %}

{% block body %}
<h1>User</h1>

<form method="post" action="{{ path('user_new') }}">
  <p>{{ form_widget(form) }}</p>
  {% include "::submit_button.html.twig" %}
</form>

{% endblock %}
