{% extends "ClubUserBundle::base.html.twig" %}

{% block body %}

<p>{% trans %}Your password has been expired, please enter a new one below.{% endtrans %}</p>
{% include "ClubLayoutBundle:Default:form.html.twig" with {'path':path('club_user_user_reset')} %}
{% endblock %}
