{% extends "ClubLayoutBundle:Default:base.html.twig" %}

{% block header %}<h1>Transaction</h1>{% endblock %}

{% block body %}
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Transaction Code</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="2">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for transaction in transactions %}
    <tr>
      <td>{{ transaction.id }}</td>
      <td>{{ transaction.transactionCode }}</td>
    </tr>
  {% else %}
  <tr>
    <td colspan="2">There are no transactions at the time</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
