{% extends "ClubMediaBundle::base.html.twig" %}

{% block body %}
<p>{% trans %}Here are some files that the organization has shared with you.{% endtrans %}</p>
<table class="table">
    <thead>
        <th>{% trans %}File{% endtrans %}</th>
        <th>{% trans %}Size{% endtrans %}</th>
        <th>{% trans %}Action{% endtrans %}</th>
    </thead>
    <tbody>
    {% for document in entities %}
    <tr>
        <td><a href="{{ asset(document.webPath) }}" target="_open">{{ document.name }}</a>, <small>{{ document.type }}</small></td>
        <td>{{ document.size|club_filesize }}</td>
        <td>
            {% include "ClubLayoutBundle:Default:download_link.html.twig" with {'url':asset(document.webPath)} %}
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="4">{% trans %}There are no files to be downloaded.{% endtrans %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
