{% extends "ClubMatchBundle::base.html.twig" %}

{% block body %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="{{ path('club_match_match_new') }}">{% trans %}Insert match{% endtrans %}</a></li>
        </ul>
    </div>
</div>
{% endif %}

{% include "ClubPaginatorBundle:Paginator:paginator.html.twig" %}
{% include "ClubMatchBundle:Match:recent_matches.html.twig" %}
{% include "ClubPaginatorBundle:Paginator:paginator.html.twig" %}

{% endblock %}
