{% extends "ClubMatchBundle::base.html.twig" %}

{% block body %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<div class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="{{ path('club_match_match_new') }}">{% trans %}Insert match{% endtrans %}</a></li>
        </ul>
    </div>
</div>
{% endif %}

{{ club_paginator() }}
{% include "ClubMatchBundle:Match:recent_matches.html.twig" %}
{{ club_paginator() }}

{% endblock %}
