{% extends "ClubMatchBundle::base.html.twig" %}

{% block header %}
<h1 class="page-header">{% trans %}Match Result{% endtrans %}</h1>
{% endblock %}

{% block body %}
<p>{% trans %}This match is just to keep track of your wins and losses, it will not end up on any ranking list.{% endtrans %}</p>

{% include "ClubMatchBundle:Match:match_form.html.twig" with {'path':path('club_match_match_new')} %}

{% endblock %}
