<h4>{% trans %}Recent matches{% endtrans %}</h4>
<table class="table">
  <thead>
    <tr>
      <th>{% trans %}Date{% endtrans %}</th>
      <th>{% trans %}Team one{% endtrans %}</th>
      <th style="width: 150px; text-align: center;">{% trans %}Score{% endtrans %}</th>
      <th>{% trans %}Team two{% endtrans %}</th>
      <th class="action">{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
    {% for match in matches %}
      {% include "ClubMatchBundle:Match:match.html.twig" %}
    {% else %}
    <tr>
      <td colspan="5">{% trans %}No matches has been played.{% endtrans %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
