{% extends "ClubMatchBundle::base.html.twig" %}

{% block pagenav %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="{{ path('club_match_matchcomment_new', { 'match_id':match.id }) }}">{% trans %}Add comment{% endtrans %}</a></li>
            {% if match.isOwner(app.user) %}
            <li><a href="{{ path('club_match_match_delete', { 'id':match.id }) }}">{% trans %}Delete match{% endtrans %}</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endif %}
{% endblock %}

{% block body %}
<table class="table">
  <thead>
    <tr>
      <th>{% trans %}Date{% endtrans %}</th>
      <th>{% trans %}Team one{% endtrans %}</th>
      <th style="width: 150px; text-align: center;">{% trans %}Score{% endtrans %}</th>
      <th>{% trans %}Team two{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="4">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
    {% include "ClubMatchBundle:Match:match.html.twig" with {'nocomment':true} %}
  </tbody>
</table>

<h4>{% trans %}Comments{% endtrans %}</h4>
{% for comment in match.matchComments %}
<p><span class="label label-03">{% trans with {'%date%':comment.createdAt|club_datetime,'%author%':comment.user.name} %}Posted on %date% by %author%.{% endtrans %}</span></p>
<p>{{ comment.comment|raw }}</p>
{% else %}
<p>{% trans %}There are no comments for this match.{% endtrans %}</p>
{% endfor %}

{% endblock %}
