{% extends "ClubBookingBundle::base.html.twig" %}


{% block body %}

<form method="post" action="{{ path('club_booking_admininterval_edit', {'id':interval.id}) }}">
{% include "ClubBookingBundle:AdminInterval:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
