{% extends "ClubBookingBundle::base.html.twig" %}

{% block body %}

<form method="post" action="{{ path('club_booking_admininterval_index', {'id':field.id}) }}">

{{ form_widget(form) }}

<ul class="nav nav-tabs" id="interval">
  <li class="active"><a href="#monday">Monday</a></li>
  <li><a href="#tuesday">Tuesday</a></li>
  <li><a href="#wednesday">Wednesday</a></li>
  <li><a href="#thursday">Thursday</a></li>
  <li><a href="#friday">Friday</a></li>
  <li><a href="#saturday">Saturday</a></li>
  <li><a href="#sunday">Sunday</a></li>
</ul>

<div class="tab-content">
    {% include "ClubBookingBundle:AdminInterval:form_field.html.twig" with {'day':'monday', 'form':form_monday, 'active':true} %}
    {% include "ClubBookingBundle:AdminInterval:form_field.html.twig" with {'day':'tuesday', 'form':form_tuesday} %}
    {% include "ClubBookingBundle:AdminInterval:form_field.html.twig" with {'day':'wednesday', 'form':form_wednesday} %}
    {% include "ClubBookingBundle:AdminInterval:form_field.html.twig" with {'day':'thursday', 'form':form_thursday} %}
    {% include "ClubBookingBundle:AdminInterval:form_field.html.twig" with {'day':'friday', 'form':form_friday} %}
    {% include "ClubBookingBundle:AdminInterval:form_field.html.twig" with {'day':'saturday', 'form':form_saturday} %}
    {% include "ClubBookingBundle:AdminInterval:form_field.html.twig" with {'day':'sunday', 'form':form_sunday} %}
</div>

<div class="same_layout">
    {% include "ClubBookingBundle:AdminInterval:form_field.html.twig" with {'day':'all', 'form':form_all} %}
</div>

{% include "ClubLayoutBundle:Default:submit_button.html.twig" %}

</form>

<script type="text/javascript">

$(document).ready(function() {
    setView();
});

$("#form_same_layout_all_days").change(function() {
    setView();
});

$('#interval a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
});

function setView()
{
    if ($("#form_same_layout_all_days").is(':checked')) {
        $(".same_layout").show();
        $(".tab-content").hide();
        $(".nav-tabs").hide();
    } else {
        $(".same_layout").hide();
        $(".tab-content").show();
        $(".nav-tabs").show();
    }
}
</script>

{% endblock %}
