{% extends "::base.html.twig" %}

{% block body %}
<h1>Language</h1>

<form method="post" action="{{ path('admin_language_edit', {'id':language.id}) }}">
{% include "ClubUserBundle:Language:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
