{% extends "ClubUserBundle::base.html.twig" %}


{% block body %}
<p class="box"><a href="{{ path('admin_language_new') }}" class="btn-create"><span>Create language</span></a></p>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Language</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="3">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for language in languages %}
    <tr>
      <td>{{ language.id }}</td>
      <td>{{ language.name }}</td>
      <td>
        {% include "ClubUserBundle::edit_link.html.twig" with {'url':path('admin_language_edit', { 'id':language.id })} %}
        {% include "ClubUserBundle::delete_link.html.twig" with {'url':path('admin_language_delete', { 'id':language.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="3">There are no languages at the time</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
