{% extends "ClubUserBundle::base.html.twig" %}


{% block body %}

<form method="post" action="{{ path('admin_language_new') }}">
{% include "ClubUserBundle:Language:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
