{% extends "ClubLayoutBundle:Default:base.html.twig" %}

{% block header %}<h1>Language</h1>{% endblock %}

{% block body %}

<form method="post" action="{{ path('admin_language_new') }}">
{% include "ClubUserBundle:Language:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
