{% extends "ClubUserBundle::base.html.twig" %}

{% block body %}

<form method="post" action="{{ path('admin_currency_edit', {'id':currency.id}) }}">
{% include "ClubLayoutBundle:Default:form.html.twig" %}
</form>

{% endblock %}
