{% extends "ClubUserBundle::base.html.twig" %}

{% block body %}
<p class="box"><a href="{{ path('admin_currency_new') }}" class="btn-create"><span>{% trans %}Create currency{% endtrans %}</span></a></p>

<table class="table">
  <thead>
    <tr>
      <th>{% trans %}Currency{% endtrans %}</th>
      <th class="action">{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="2">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for currency in currencies %}
    <tr>
      <td>{{ currency.currencyName }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('admin_currency_edit', { 'id':currency.id })} %}
        {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('admin_currency_delete', { 'id':currency.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="2">{% trans %}There are no currencies.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
