{% extends "ClubUserBundle::base.html.twig" %}

{% block pagenav %}
<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="{{ path('admin_currency_new') }}">{% trans %}Create currency{% endtrans %}</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block body %}
<table class="table">
  <thead>
    <tr>
      <th>{% trans %}Currency{% endtrans %}</th>
      <th class="action">{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
  {% for currency in currencies %}
    <tr>
      <td>{{ currency.currencyName }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('admin_currency_edit', { 'id':currency.id })} %}
        {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('admin_currency_delete', { 'id':currency.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="2">{% trans %}There are no currencies.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
