{% extends "ClubUserBundle::base.html.twig" %}


{% block body %}
<p class="box"><a href="{{ path('admin_currency_new') }}" class="btn-create"><span>Create currency</span></a></p>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Currency</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="3">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for currency in currencies %}
    <tr>
      <td>{{ currency.id }}</td>
      <td>{{ currency.currencyName }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('admin_currency_edit', { 'id':currency.id })} %}
        {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('admin_currency_delete', { 'id':currency.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="3">There are no currencies at the time</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
