{% extends "ClubLayoutBundle:Default:base_simple.html.twig" %}

{% block body %}
  <h2>Oops! An Error Occurred</h2>
  <h3>The server returned a "{{ status_code }} {{ status_text }}".</h3>

  <p>Please contact the administrator if the error continue.</p>
{% endblock %}
