{% extends "::base.html.twig" %}

{% block body %}
<h1>Location</h1>

<form method="post" action="{{ path('admin_location_new') }}">
{% include "ClubUserBundle:Location:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
