{% extends "ClubWelcomeBundle::base.html.twig" %}

{% block pagenav %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="{{ path('club_welcome_blog_new') }}">{% trans %}Post blog{% endtrans %}</a></li>
        </ul>
    </div>
</div>
{% endif %}
{% endblock %}

{% block body %}

{% include "ClubNewsBundle:Announcement:announcement.html.twig" %}
{% render controller("ClubMenuBundle:Default:dashMenu") %}

{% if welcome.content is defined %}
{{ welcome.content|raw }}
<hr>
{% endif %}

<div class="page-header"><h1>{% trans %}Blog{% endtrans %}</h1></div>

{% for post in posts %}
{% include "ClubWelcomeBundle:Welcome:blog.html.twig" %}
{% endfor %}

<a href="{{ path('club_welcome_blog_index') }}">&larr; Read older articles</a>

{% endblock %}
