{% extends "ClubWelcomeBundle::base.html.twig" %}

{% block body %}
<p>Welcome to ClubMaster</p>

{% if welcome.content is defined %}
{{ welcome.content|raw }}
{% endif %}

{% for post in posts %}
<h3>{{ post.title }}</h3>
<p>{{ post.message }}</p>
{% endfor %}

{% endblock %}
