<p>
    <a class="btn btn-primary" href="{{ path('shop_checkout') }}">{% trans %}View cart{% endtrans %}</a>

{% if cart.cartProducts|length > 0 %}
<a class="btn btn-primary" href="{{ path('shop_checkout_shipping') }}">{% trans %}Choose shipping{% endtrans %}</a>
{% else %}
<button class="btn">{% trans %}Choose shipping{% endtrans %}</button>
{% endif %}

{% if cart.shipping %}<a class="btn btn-primary" href="{{ path('shop_checkout_payment') }}">{% trans %}Choose payment{% endtrans %}</a>
{% else %}
<button class="btn">{% trans %}Choose payment{% endtrans %}</button>
{% endif %}

{% if cart.paymentMethod %}
<a class="btn btn-primary" href="{{ path('shop_checkout_review') }}">{% trans %}Review order{% endtrans %}</a>
{% else %}
<button class="btn">{% trans %}Review order{% endtrans %}</button>
{% endif %}

<button class="btn">{% trans %}Done{% endtrans %}</button>

