        <span class="label label-06"><a href="{{ path('shop_checkout') }}">{% trans %}View cart{% endtrans %}</a></span>
        <span class="label label-06"><a href="{{ path('shop_checkout_payment') }}">{% trans %}Choose payment{% endtrans %}</a></span>
        <span class="label label-06"><a href="{{ path('shop_checkout_review') }}">{% trans %}Review order{% endtrans %}</a></span>
        <span class="label label-06">{% trans %}Done{% endtrans %}</span>


