<ul class="breadcrumb">
    {% if active_page == 'cart' %}
    <li>{% trans %}View cart{% endtrans %} <span class="divider">/</span></li>
    {% else %}
    <li><a href="{{ path('shop_checkout') }}">{% trans %}View cart{% endtrans %}</a> <span class="divider">/</span></li>
    {% endif %}

    {% if active_page == 'shipping' %}
    <li>{% trans %}Choose shipping{% endtrans %} <span class="divider">/</span></li>
    {% elseif cart.shipping is defined %}
    <li><a href="{{ path('shop_checkout_shipping') }}">{% trans %}Choose shipping{% endtrans %}</a> <span class="divider">/</span></li>
    {% else %}
    <li class="active">{% trans %}Choose shipping{% endtrans %} <span class="divider">/</span></li>
    {% endif %}

    {% if active_page == 'payment' %}
    <li>{% trans %}Choose payment{% endtrans %} <span class="divider">/</span></li>
    {% elseif cart.paymentMethod is defined %}
    <li><a href="{{ path('shop_checkout_payment') }}">{% trans %}Choose payment{% endtrans %}</a> <span class="divider">/</span></li>
    {% else %}
    <li class="active">{% trans %}Choose payment{% endtrans %} <span class="divider">/</span></li>
    {% endif %}

    {% if active_page == 'review' %}
    <li>{% trans %}Review order{% endtrans %} <span class="divider">/</span></li>
    {% elseif cart.paymentMethod is defined %}
    <li><a href="{{ path('shop_checkout_review') }}">{% trans %}Review order{% endtrans %}</a> <span class="divider">/</span></li>
    {% else %}
    <li class="active">{% trans %}Review order{% endtrans %} <span class="divider">/</span></li>
    {% endif %}

    <li class="active">{% trans %}Done{% endtrans %}</li>
</ul>
