        <span class="label label-06"><a href="{{ path('shop_checkout') }}">View backet</a></span>
        <span class="label label-06"><a href="{{ path('shop_checkout_payment') }}">Choose Payment</a></span>
        <span class="label label-06"><a href="{{ path('shop_checkout_review') }}">Review order</a></span>
        <span class="label label-06">Done</span>


