{% extends "::base.html.twig" %}

{% block body %}

<h1>Shop</h1>

<h3>Basket</h3>

{% include "ClubShopBundle:Checkout:checkouttop.html.twig" %}

<h3>Order</h3>

<div id="sf_admin_container">
{% include "ClubShopBundle:Checkout:order_form.html.twig" %}

<p class="box">
  <a href="{{ path('shop_checkout_empty') }}" class="btn-info"><span>Empty basket</span></a>
  <a href="{{ path('shop') }}" class="btn-info"><span>Continue shopping</span></a>
  <a href="{{ path('shop_checkout_shipping') }}" class="btn-info"><span>Checkout</span></a>
</p>

{% endblock %}
