{% extends "ClubShopBundle::base.html.twig" %}

{% block body %}

{% include "ClubShopBundle:Shop:header.html.twig" %}

{% include "ClubShopBundle:Checkout:checkouttop.html.twig" with {'page':'view'} %}

<h3>{% trans %}Order{% endtrans %}</h3>
<div id="sf_admin_container">
{% include "ClubShopBundle:Checkout:cart_form.html.twig" %}
</div>

<p>
  <a href="{{ path('shop_checkout_empty') }}" class="btn btn-primary">{% trans %}Empty cart{% endtrans %}</a>
  <a href="{{ path('shop') }}" class="btn btn-primary">{% trans %}Continue shopping{% endtrans %}</a>
  <a href="{{ path('club_shop_coupon_add') }}" class="btn btn-primary">{% trans %}Use coupon{% endtrans %}</a>
  <a href="{{ path('shop_checkout_shipping') }}" class="btn btn-primary">{% trans %}Checkout{% endtrans %}</a>
</p>

{% endblock %}
