{% extends "ClubShopBundle::base.html.twig" %}

{% block body %}

<form method="POST" action="{{ path('shop_checkout_order') }}" class="form-horizontal">

    <div class="row-fluid">
        <div class="span6">
            <h3>Customer</h3>
            {{ form_widget(form.customer_address) }}
        </div>

        <div class="span6">
            <h3>Shipping</h3>
            {{ form_row(form.shipping) }}
        </div>
    </div>

    {{ form_rest(form) }}
    {% include "ClubLayoutBundle:Default:submit_button.html.twig" %}

</form>

{% endblock %}
