{% extends "ClubShopBundle::base.html.twig" %}

{% block body %}
<h2>Payment Information</h2>

{% include "ClubShopBundle:Checkout:checkouttop.html.twig" with {'page':'payment'} %}

<form method="POST" action="{{ path('shop_checkout_payment') }}">
<fieldset>
  <legend>Payment Information</legend>

  <p>{{ form_widget(form) }}</p>

</fieldset>

{% include "ClubLayoutBundle:Default:submit_button.html.twig" with {'button':'Continue'} %}
</form>

{% endblock %}
