{% extends "ClubShopBundle::base.html.twig" %}

{% block body %}

{% include "ClubShopBundle:Checkout:checkouttop.html.twig" with {'page':'payment'} %}

<h3>Choose payment</h3>
{% include "ClubLayoutBundle:Default:form.html.twig" with {'path':path('shop_checkout_payment')} %}
{% endblock %}
