{% extends "ClubShopBundle::base.html.twig" %}

{% block body %}
<h2>Payment Information</h2>

{% include "ClubShopBundle:Checkout:checkouttop.html.twig" %}

<form method="POST" action="{{ path('shop_checkout_shipping') }}">
<fieldset>
  <legend>Shipping Information</legend>

  <p>{{ form_row(form1) }}</p>
  <p>{{ form_row(form2) }}</p>

  <p><input type="submit" value="Continue" class="input-submit" /></p>
</fieldset>
</form>

{% endblock %}
