{% extends "ClubNewsBundle::base.html.twig" %}

{% block pagenav %}
{% include "ClubNewsBundle:AdminAnnouncement:header.html.twig" %}
{% endblock %}

{% block body %}
<table class="table">
  <thead>
    <tr>
      <th>{% trans %}Announcement{% endtrans %}</th>
      <th>{% trans %}Author{% endtrans %}</th>
      <th>{% trans %}Period{% endtrans %}</th>
      <th>{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
  {% for announcement in announcements %}
    <tr>
      <td>{{ announcement.message }}</td>
      <td>{{ announcement.user.name }}</td>
      <td>{{ announcement.startDate|club_datetime }} - {{ announcement.endDate|club_datetime }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('club_news_adminannouncement_edit', { 'id':announcement.id })} %}
        {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('club_news_adminannouncement_delete', { 'id':announcement.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="5">{% trans %}There are no announcements.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
