<form method="POST" action="{{ path('club_user_filter_filter') }}">
  <fieldset>
    <legend>Search</legend>

    {{ form_row(form) }}
    <input type="submit" value="Filter" />

  </fieldset>
</form>
