{% extends "::base.html.twig" %}

{% block body %}
<h1>Category</h1>

<form method="post" action="{{ path('admin_shop_category_edit', {'id':category.id}) }}">
{% include "ClubShopBundle:AdminCategory:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
