{% extends "ClubLayoutBundle:Default:base.html.twig" %}

{% block header %}<h1>Category</h1>{% endblock %}

{% block body %}
<p class="box"><a href="{{ path('admin_shop_category_new') }}" class="btn-create"><span>Create category</span></a></p>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="3">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for category in categories %}
    <tr>
      <td>{{ category.id }}</td>
      <td>{{ category.categoryName }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('admin_shop_category_edit', { 'id':category.id })} %}
        {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('admin_shop_category_delete', { 'id':category.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="3">There are no categories at the time</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
