{% extends "::base.html.twig" %}

{% block header %}<h1>Category</h1>{% endblock %}

{% block body %}

<form method="post" action="{{ path('admin_shop_category_new') }}">
{% include "ClubShopBundle:AdminCategory:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
