{% extends "ClubBookingBundle::base.html.twig" %}

{% block pagenav %}
<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="{{ path('club_booking_adminfield_new') }}">{% trans %}Create field{% endtrans %}</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block body %}

<table class="table">
  <thead>
    <tr>
      <th>{% trans %}Location{% endtrans %}</th>
      <th>{% trans %}Field{% endtrans %}</th>
      <th>{% trans %}Position{% endtrans %}</th>
      <th class="action">{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
  {% for field in fields %}
    <tr>
      <td>{{ field.location.locationName }}</td>
      <td>{{ field.name }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:up_link.html.twig" with {'url':path('club_booking_adminfield_up', { 'id':field.id })} %}
        {% include "ClubLayoutBundle:Default:down_link.html.twig" with {'url':path('club_booking_adminfield_down', { 'id':field.id })} %}
      </td>
      <td>
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('club_booking_adminfield_edit', { 'id':field.id })} %}
        {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('club_booking_adminfield_delete', { 'id':field.id })} %}
        {% include "ClubLayoutBundle:Default:interval_link.html.twig" with {'url':path('club_booking_admininterval_index', { 'id':field.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="4">{% trans %}There are no fields.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
