{% extends "ClubWelcomeBundle::base.html.twig" %}

{% block body %}

<p>{% trans %}You are welcome to post anything to the other members here. The post will end up on the frontpage.{% endtrans %}</p>
{% include "ClubLayoutBundle:Default:form.html.twig" with {'path':path('club_welcome_blog_new'), 'novalidate':true} %}

{% endblock %}
