{% extends "::base.html.twig" %}

{% block body %}

<h1>Ledger</h1>

<h2>Ledger</h2>

{% include "::flash.html.twig" %}

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th>Note</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="3">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for ledger in ledgers %}
    <tr>
      <td>{{ ledger.value }}</td>
      <td>{{ ledger.note }}</td>
      <td>{{ ledger.createdAt|date('Y-m-d H:i:s') }}</td>
    </tr>
  {% else %}
  <tr>
    <td colspan="3">There are no ledgers at the time</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</form>
{% endblock %}
