{% extends "ClubAccountBundle::base.html.twig" %}

{% block body %}
<h2>{% trans %}Ledger{% endtrans %}</h2>

<table>
  <thead>
    <tr>
      <th>{% trans %}User{% endtrans %}</th>
      <th>{% trans %}Value{% endtrans %}</th>
      <th>{% trans %}Note{% endtrans %}</th>
      <th>{% trans %}Created at{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="4">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for ledger in ledgers %}
    <tr>
      <td>{{ ledger.user }}</td>
      <td>{{ ledger.value }}</td>
      <td>{{ ledger.note }}</td>
      <td>{{ ledger.createdAt|date('Y-m-d H:i:s') }}</td>
    </tr>
  {% else %}
  <tr>
    <td colspan="4">{% trans %}There are no ledgers.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</form>

{% include "ClubLayoutBundle:Default:paginator.html.twig" %}
{% endblock %}
