{% extends "ClubDashboardBundle::base.html.twig" %}

{% block body %}
<p class="lead">{% trans with {'%member%':app.user.memberNumber} %}Hi and welcome member <strong>%member%</strong>.{% endtrans %}</p>
<p>{% trans %}This is your private dashboard find all relevant informations for your account here.{% endtrans %}</p>

{{ output|raw }}

<h2>{% trans %}Coming Activities{% endtrans %}</h2>
{% include "ClubUserBundle:Dashboard:activities_table.html.twig" %}

<h2>{% trans %}Recent Activities{% endtrans %}</h2>
{% include "ClubUserBundle:Dashboard:activities_table.html.twig" with {'activities':recent} %}

{% endblock %}
