{% extends "ClubDashboardBundle::base.html.twig" %}

{% block body %}

<p class="box">
  <a href="{{ path('club_welcome_blog_new') }}" class="btn-info"><span>{% trans %}Post blog{% endtrans %}</span></a>
  {% if is_granted('ROLE_ADMIN') %}
  <a href="{{ path('club_dashboard_admindashboard_index') }}" class="btn-info"><span>{% trans %}Admin Dashboard{% endtrans %}</span></a>
  {% endif %}
</p>

{{ output|raw }}

{% endblock %}
