{% extends "ClubDashboardBundle::base.html.twig" %}

{% block body %}

{{ output|raw }}

<h2>{% trans %}Coming Activities{% endtrans %}</h2>
{% include "ClubUserBundle:Dashboard:activities_table.html.twig" %}

{% endblock %}
