{% extends "ClubUserBundle::base.html.twig" %}

{% block body %}

<p class="box">
  <a href="{{ path('admin_group_new') }}" class="btn-info"><span>{% trans %}Create group{% endtrans %}</span></a>
</p>

<table class="style">
  <thead>
    <tr>
      <th>{% trans %}Group{% endtrans %}</th>
      <th>{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="2">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for group in groups %}
    <tr>
      <td>{{ group.groupName }} ( {{ group.users|length }} )</td>
      <td>
        {% include "ClubLayoutBundle:Default:group_link.html.twig" with {'url':path('club_user_admingroup_members', { 'id':group.id })} %}
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('admin_group_edit', { 'id':group.id })} %}
        {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('admin_group_delete', { 'id':group.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="2">{% trans %}There are no groups.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
