{% extends "ClubUserBundle::base.html.twig" %}

{% block header %}
<div class="page-header"><h1>{% trans with {'%group%':group.groupName} %}Group, %group%{% endtrans %}</h1></div>
{% endblock %}

{% block body %}
<table class="table">
  <thead>
    <tr>
      <th>{% trans %}Name{% endtrans %}</th>
      <th>{% trans %}Created at{% endtrans %}</th>
      <th class="action">{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="3">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for user in group.users %}
    <tr>
      <td>{{ user.name }} ( {{ user.memberNumber }} )</td>
      <td>{{ user.createdAt|club_date }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('admin_user_edit', { 'id':user.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="3">{% trans %}There are no users in the group.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</form>

{% endblock %}
