{% extends "ClubUserBundle::base.html.twig" %}

{% block body %}

<h2>{% trans %}Group{% endtrans %}</h2>
<form method="post" action="{{ path('admin_group_new') }}">
{% include "ClubUserBundle:AdminGroup:form.html.twig" %}
</form>

{% endblock %}
