  <fieldset>
    <legend>{% trans %}Sender{% endtrans %}</legend>
    {{ form_row(form.sender_name) }}
    {{ form_row(form.sender_address) }}
  </fieldset>

  <fieldset>
    <legend>{% trans %}Message{% endtrans %}</legend>
    {{ form_widget(form) }}
  </fieldset>

  <hr class="noscreen" />
  <div class="box-01">
    <p class="nom"><input formnovalidate="true" type="submit" value="{% trans %}Save{% endtrans %}" class="input-submit" /></p>
  </div> <!-- /box-01 -->

