<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="{{ path('club_message_adminmessage_new') }}">{% trans %}Create message{% endtrans %}</a></li>
            <li><a href="{{ path('club_message_adminmessage_archive') }}">{% trans %}Archive{% endtrans %}</a></li>
        </ul>
    </div>
</div>

