{% extends "ClubMessageBundle::base.html.twig" %}

{% block body %}
<p class="box">
  <a href="{{ path('club_message_adminmessage_new') }}" class="btn-create"><span>{% trans %}Create message{% endtrans %}</span></a>
</p>

<table class="style">
  <thead>
    <tr>
      <th>{% trans %}Created at{% endtrans %}</th>
      <th>{% trans %}Subject{% endtrans %}</th>
      <th>{% trans %}Sent at{% endtrans %}</th>
      <th>{% trans %}Status{% endtrans %}</th>
      <th>{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
  {% for message in messages %}
    <tr>
      <td>{{ message.createdAt|club_datetime }}</td>
      <td>{{ message.subject }}</td>
      <td>
        {% if message.sentAt %}
        {{ message.sentAt|club_datetime }}
        {% endif %}
      </td>
      <td>
        {% if message.processed %}
          {% trans %}Sent{% endtrans %}
        {% elseif message.ready %}
          {% trans %}Queued{% endtrans %}
        {% else %}
          {% trans %}Draft{% endtrans %}
        {% endif %}
      </td>
      <td>
        {% if not message.ready %}
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('club_message_adminmessage_edit', {'id':message.id})} %}
        {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('club_message_adminmessage_delete', {'id':message.id})} %}
        {% else %}
        {% include "ClubLayoutBundle:Default:show_link.html.twig" with {'url':path('club_message_adminmessage_show', {'id':message.id})} %}
        {% endif %}
      </td>
    </tr>
  {% else %}
    <tr>
      <td colspan="5">{% trans %}No messages has been sent.{% endtrans %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% include "ClubPaginatorBundle:Paginator:paginator.html.twig" %}

{% endblock %}
