{% extends "ClubMessageBundle::base.html.twig" %}

{% block body %}
<h2>{% trans %}Message log{% endtrans %}</h2>

<table class="style">
  <thead>
    <tr>
      <th>{% trans %}User{% endtrans %}</th>
      <th>{% trans %}Recipient{% endtrans %}</th>
      <th>{% trans %}Processed{% endtrans %}</th>
      <th>{% trans %}Error{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
  {% for queue in message.messageQueue %}
    <tr>
      <td>{{ queue.user.profile.name }}</td>
      <td>{{ queue.recipient }}</td>
      <td>
        {% if queue.processed %}
          Sent
        {% else %}
          Queued for delivery
        {% endif %}</td>
      <td>{{ queue.errorMessage }}</td>
    </tr>
  {% else %}
    <tr>
      <td colspan="4">{% trans %}No recipients for this message.{% endtrans %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
