{% extends "ClubMessageBundle::base.html.twig" %}

{% block javascripts %}
  {% include "ClubLayoutBundle:Default:tinymce.html.twig" %}
{% endblock %}

{% block body %}
<form method="post" action="{{ path('club_message_adminmessage_new') }}" class="form-horizontal">
  {% include "ClubMessageBundle:AdminMessage:form.html.twig" %}
</form>
{% endblock %}
