{% extends "ClubMessageBundle::base.html.twig" %}

{% block pagenav %}
{% include "ClubMessageBundle:AdminMessage:header.html.twig" %}
{% endblock %}

{% block body %}
<table class="table">
    <thead>
        <tr>
            <th>User</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for recipient in recipients %}
        <tr>
            <td>{{ recipient.user.name }}</td>
            <td>{{ recipient.user.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
