{% if locations|length > 1 %}
  {% trans with {'%url%':path('club_user_location_index'),'%location%':app.user.location.locationName} %}Location: <strong><a href="%url%">%location%</a></strong>{% endtrans %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{% else %}
  {% trans with {'%location%':app.user.location.locationName} %}Location: <strong>%location%</strong>{% endtrans %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{% endif %}
