{% extends "ClubShopBundle::base.html.twig" %}

{% block header %}
    <div class="page-header">
        <h1>{% trans with {'%number%':order.orderNumber} %}Order #%number%{% endtrans %}</h1>
    </div>
{% endblock %}

{% block pagenav %}
{% if not order.paid and not order.cancelled %}
<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="{{ path('club_shop_adminorder_productedit', {'id':order.id}) }}">{% trans %}Edit products{% endtrans %}</a></li>
        </ul>
    </div>
</div>
{% endif %}
{% endblock %}

{% block body %}

{% include "ClubShopBundle:Order:order_form.html.twig" %}
{% include "ClubShopBundle:AdminOrder:whats_next.html.twig" %}
{% include "ClubShopBundle:Order:order_history.html.twig" %}
{% include "ClubShopBundle:Order:purchase_log.html.twig" %}
{% include "ClubShopBundle:Order:shipping.html.twig" %}
{% include "ClubShopBundle:Order:order_information.html.twig" %}

{% endblock %}
