{% extends "ClubShopBundle::base.html.twig" %}

{% block body %}

{% if not order.paid %}
<p class="box">
  <a href="{{ path('club_payment_cash_cash_register', {'order_id':order.id}) }}" class="btn-info"><span>{% trans %}Register payment{% endtrans %}</span></a>
  <a href="{{ path('club_shop_adminorder_productedit', {'id':order.id}) }}" class="btn-info"><span>{% trans %}Edit products{% endtrans %}</span></a>
</p>
{% endif %}

<h2>{% trans %}Order Information{% endtrans %}</h2>

<form method="post" action="{{ path('admin_shop_order_edit', {'id':order.id}) }}">
{% include "ClubLayoutBundle:Default:form.html.twig" %}
</form>

{% include "ClubShopBundle:Order:order_form.html.twig" %}
{% include "ClubShopBundle:Order:order_history.html.twig" %}
{% include "ClubShopBundle:Order:purchase_log.html.twig" %}
{% include "ClubShopBundle:Order:shipping.html.twig" %}
{% include "ClubShopBundle:Order:order_information.html.twig" %}

{% endblock %}
