{% extends "ClubShopBundle::base.html.twig" %}

{% block body %}

{% include "ClubShopBundle:Order:order_information.html.twig" %}
{% include "ClubShopBundle:Order:order_form.html.twig" %}
{% include "ClubShopBundle:Order:order_history.html.twig" %}

<form method="post" action="{{ path('admin_shop_order_edit', {'id':order.id}) }}">
{% include "ClubShopBundle:AdminOrder:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
