{% extends "ClubShopBundle::base.html.twig" %}

{% block body %}
<h2>{% trans %}Orders{% endtrans %}</h2>

<!-- Actions -->
<div class="navbar">
  <div class="navbar-inner">
    <form method="post" action="" class="navbar-search pull-right">
        {{ form_widget(form.query, {'attr': {'class':'search-query'} }) }}
        {{ form_rest(form) }}
        <input type="submit" value="{% trans %}Search{% endtrans %}" />
    </form>
  </div>
</div>

{% include "ClubShopBundle:AdminOrder:orders_table.html.twig" %}

{% include "ClubPaginatorBundle:Paginator:paginator.html.twig" %}
{% endblock %}
