{% extends "ClubShopBundle::base.html.twig" %}

{% block body %}
<h2>{% trans %}Orders{% endtrans %}</h2>

<div class="navbar navbar-default">
    <div class="container-fluid">
        <form class="navbar-form navbar-right" role="search" method="POST">
            <div class="form-group">
                {{ form_widget(form.query, {'attr': {'class':'search-query form-control'} }) }}
            </div>
            <button type="submit" class="btn btn-primary">{% trans %}Search{% endtrans %}</button>

            {{ form_rest(form) }}
        </form>

    </div>
</div>

{% include "ClubShopBundle:AdminOrder:orders_table.html.twig" %}

{{ club_paginator() }}
{% endblock %}
