{% extends "ClubShopBundle::base.html.twig" %}

{% block body %}

<h2>{% trans with {'%order%':order.orderNumber} %}Edit order %order%{% endtrans %}</h2>

<form method="post" action="{{ path('club_shop_adminorder_productedit', {'id':order.id}) }}">

{% for product in form.order_products %}
  {{ form_label(product, product.vars.value.product.productName) }}
  {{ form_widget(product) }}
{% endfor %}

{% include "ClubLayoutBundle:Default:submit_button.html.twig" %}
{{ form_rest(form) }}

</form>

{% endblock %}
