{% extends "ClubShopBundle::base.html.twig" %}

{% block header %}
<h1 class="page-header">{% trans with {'%number%':order.orderNumber} %}Order #%number%{% endtrans %}</h1>
{% endblock %}

{% block body %}

<form method="post" action="{{ path('club_shop_adminorder_productedit', {'id':order.id}) }}" class="form-horizontal">

{% for product in form.order_products %}
    <h3>{{ product.vars.value.productName }}</h3>
    {{ form_widget(product) }}
    <hr>
{% endfor %}

{{ form_rest(form) }}
{% include "ClubLayoutBundle:Default:submit_button.html.twig" %}

</form>

{% endblock %}
