{% extends "ClubShopBundle::base.html.twig" %}

{% block pagenav %}
{% include "ClubUserBundle:AdminUser:header.html.twig" %}
{% endblock %}

{% block header %}
<h1 class="page-header"><img class="img-polaroid" src="{{ asset('bundles/clublayout/images/icons/32x32/basket.png') }}" /> {% trans %}Orders{% endtrans %}</h1>
{% endblock %}

{% block body %}
{% include "ClubShopBundle:AdminOrder:orders_table.html.twig" %}
{% endblock %}
