<div class="pagination">
  <ul>
    <li {% if nav.currentPage == 1 %}class="disabled"{% endif %}><a href="{{ path(nav.url, {'page':nav.currentPage-1}) }}">{% trans %}Prev{% endtrans %}</a></li>

    {% for i in nav.range %}
    <li {% if nav.currentPage == i %}class="active"{% endif %}><a href="{{ path(nav.url, { 'page':i}) }}">{{ i }}</a></li>
    {% endfor %}

    <li {% if nav.endRange == nav.currentPage %}class="disabled"{% endif %}><a href="{{ path(nav.url, { 'page':nav.currentPage+1}) }}">{% trans %}Next{% endtrans %}</a></li>
  </ul>
</div>

