{% extends "ClubUserBundle::base.html.twig" %}

{% block body %}
<h2>{% trans %}Bans{% endtrans %}</h2>

<table>
  <thead>
    <tr>
      <th>{% trans %}Type{% endtrans %}</th>
      <th>{% trans %}Value{% endtrans %}</th>
      <th>{% trans %}Expires at{% endtrans %}</th>
      <th>{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="4">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for ban in bans %}
    <tr>
      <td>{{ ban.type }}</td>
      <td>{{ ban.value }}</td>
      <td>{{ ban.expireDate|date("Y-m-d H:i:s") }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:expire_link.html.twig" with {'url':path('ban_expire', {'id':ban.id})} %}
        {% include "ClubLayoutBundle:Default:extend_link.html.twig" with {'url':path('ban_extend', {'id':ban.id})} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="4">{% trans %}There are no bans.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
