<ul class="box">
  <li {% if app.request.attributes.get('_route') == 'user' %} id="submenu-active"{% endif %}><a href="{{ path('user') }}">User</a></li>
  <li {% if app.request.attributes.get('_route') == 'mail' %} id="submenu-active"{% endif %}><a href="{{ path('user') }}">Mail</a></li>
  <li {% if app.request.attributes.get('_route') == 'shop' %} id="submenu-active"{% endif %}><a href="{{ path('shop') }}">Shop</a></li>
  <li {% if app.request.attributes.get('_route') == 'admin' %} id="submenu-active"{% endif %}><a href="{{ path('user') }}">Admin</a></li>
</ul>

