<ul class="box">
  <li><a href="{{ path('user') }}">User</a></li>
  <li><a href="{{ path('user') }}">Mail</a></li>
  <li id="submenu-active"><a href="{{ path('shop') }}">Shop</a></li>
  <li><a href="{{ path('user') }}">User</a></li>
</ul>

