<ul class="box f-right">
  <li><a href="#"><span><strong>Visit Site &raquo;</strong></span></a></li>
</ul>

<ul class="box">
  <li {% if app.request.attributes.get('_route') == 'user' %} id="menu-active"{% endif %}><a href="{{ path('user') }}"><span>User</span></a></li>
  <li {% if app.request.attributes.get('_route') == 'shop' %} id="menu-active"{% endif %}><a href="{{ path('shop') }}"><span>Shop</span></a></li>
  <li {% if app.request.attributes.get('_route') == 'order' %} id="menu-active"{% endif %}><a href="{{ path('shop_order') }}"><span>Order</span></a></li>
  <li {% if app.request.attributes.get('_route') == 'ledger' %} id="menu-active"{% endif %}><a href="{{ path('account_ledger') }}"><span>Ledger</span></a></li>
</ul>

