<a href="{{ url }}"><img src="{{ asset('bundles/clublayout/images/icons/16x16/table_edit.png') }}" class="ico" alt="{% trans %}Attribute{% endtrans %}" title="{% trans %}Attribute{% endtrans %}" /></a>
