<a onclick="return confirm('{% trans %}Are you sure?{% endtrans %}');" href="{{ url }}"><img src="{{ asset('bundles/clublayout/images/icons/16x16/user_go.png') }}" class="ico" alt="{% trans %}Checkin{% endtrans %}" title="{% trans %}Checkin{% endtrans %}" /></a>
