<a href="{{ url }}"><img src="{{ asset('bundles/clublayout/images/icons/16x16/comments_add.png') }}" class="ico" alt="{% trans %}Comment{% endtrans %}" title="{% trans %}Comment{% endtrans %}" /></a>
