<a onclick="return confirm('{% trans %}Are you sure?{% endtrans %}');" href="{{ url }}"><img src="{{ asset('bundles/clublayout/images/icons/16x16/cancel.png') }}" class="ico" alt="{% trans %}Disable{% endtrans %}" title="{% trans %}Disable{% endtrans %}" /></a>
