<a target="_open" href="{{ url }}"><img src="{{ asset('bundles/clublayout/images/icons/16x16/download.png') }}" class="ico" alt="{% trans %}Download{% endtrans %}" title="{% trans %}Download{% endtrans %}" /></a>
