<a onclick="return confirm('{% trans %}Are you sure?{% endtrans %}');" href="{{ url }}"><img src="{{ asset('bundles/clublayout/images/icons/16x16/arrow_down.png') }}" class="ico" alt="{% trans %}Down{% endtrans %}" title="{% trans %}Down{% endtrans %}" /></a>
