<a onclick="return confirm('{% trans %}Are you sure?{% endtrans %}');" href="{{ url }}"><img src="{{ asset('bundles/clublayout/images/icons/16x16/tick.png') }}" class="ico" alt="{% trans %}Enable{% endtrans %}" title="{% trans %}Enable{% endtrans %}" /></a>
