<a onclick="return confirm('{% trans %}Are you sure?{% endtrans %}');" href="{{ url }}"><img src="{{ asset('bundles/clublayout/images/icons/16/Stop-Normal-Red-icon.png') }}" class="ico" alt="{% trans %}Expire{% endtrans %}" title="{% trans %}Expire{% endtrans %}" /></a>
