{% for flashMessage in app.session.flashbag.get('warning') %}
<div class="alert alert-block">
    <strong>{% trans %}Warning!{% endtrans %}</strong>
    {{ flashMessage }}
</div>
{% endfor %}

{% if msg is defined %}
<div class="alert alert-block">
    <strong>{% trans %}Warning!{% endtrans %}</strong>
    {{ msg }}
</div>
{% endif %}
