{% if app.session.hasFlash('warning') %}
<div class="alert alert-block">
    <strong>{% trans %}Warning!{% endtrans %}</strong>
    {{ app.session.flash('warning') }}
</div>
{% endif %}

{% if msg is defined %}
<div class="alert alert-block">
    <strong>{% trans %}Warning!{% endtrans %}</strong>
    {{ msg }}
</div>
{% endif %}
