{% for flashMessage in app.session.flashbag.get('warning') %}
<div class="alert alert-warning">
    <img src="{{ asset('bundles/clublayout/images/icons/32x32/warning.png') }}" />
    {{ flashMessage }}
</div>
{% endfor %}

{% if msg is defined %}
<div class="alert alert-warning">
    <img src="{{ asset('bundles/clublayout/images/icons/32x32/warning.png') }}" />
    {{ msg }}
</div>
{% endif %}
