{% for flashMessage in app.session.flashbag.get('error') %}
<div class="alert alert-error">
    <strong>{% trans %}Oh snap!{% endtrans %}</strong>
    {{ flashMessage }}
</div>
{% endfor %}

{% if msg is defined %}
<div class="alert alert-error">
    <strong>{% trans %}Oh snap!{% endtrans %}</strong>
    {{ msg }}
</div>
{% endif %}

