{% for flashMessage in app.session.flashbag.get('info') %}
<div class="alert alert-info">
    <img src="{{ asset('bundles/clublayout/images/icons/32x32/information.png') }}" />
    {{ flashMessage }}
</div>
{% endfor %}

{% if msg is defined %}
<div class="alert alert-info">
    <img src="{{ asset('bundles/clublayout/images/icons/32x32/information.png') }}" />
    {{ msg }}
</div>
{% endif %}
