{% for flashMessage in app.session.flashbag.get('info') %}
<div class="alert alert-info">
    <strong>{% trans %}Heads up!{% endtrans %}</strong>
    {{ flashMessage }}
</div>
{% endfor %}

{% if msg is defined %}
<div class="alert alert-info">
    <strong>{% trans %}Heads up!{% endtrans %}</strong>
    {{ msg }}
</div>
{% endif %}
