<a onclick="return confirm('{% trans %}Are you sure?{% endtrans %}');" href="{{ url }}"><img src="{{ asset('bundles/clublayout/images/icons/16x16/group_delete.png') }}" class="ico" alt="{% trans %}Unassign{% endtrans %}" title="{% trans %}Unassign{% endtrans %}" /></a>
