<a href="{{ url }}"><img src="{{ asset('bundles/clublayout/images/icons/16/sales-report-icon.png') }}" class="ico" alt="{% trans %}Ledger{% endtrans %}" title="{% trans %}Ledger{% endtrans %}" /></a>
