            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="well sidebar-nav">
                <!-- Login form -->
                <form method="post" action="{{ path('login_check') }}" id="search">
                <fieldset>
                    <legend>{% trans %}Login{% endtrans %}</legend>
                    <p><input type="text" class="input-text" name="_username" id="login_username" placeholder="{% trans %}Member number{% endtrans %}" /></p>
                    <p><input type="password" class="input-text" name="_password" placeholder="{% trans %}Password{% endtrans %}" /></p>
                    <p><input type="submit" value="{% trans %}Login{% endtrans %}" class="input-submit-02" /></p>
                </fieldset>
            </form>
            </div>
            {% endif %}

