            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="well">
                <!-- Login form -->
                <form method="post" action="{{ path('login_check') }}">

                <fieldset>
                    <legend>{% trans %}Login{% endtrans %}</legend>
                    <p><input class="span12" type="text" name="_username" id="login_username" placeholder="{% trans %}Member number{% endtrans %}" /></p>
                    <p><input class="span12" type="password" name="_password" placeholder="{% trans %}Password{% endtrans %}" /></p>
                    <p><button type="submit" class="btn btn-primary">{% trans %}Login{% endtrans %}</button></p>
                </fieldset>

            </form>
            </div>
            {% endif %}

