<a onclick="return confirm('{% trans %}Are you sure?{% endtrans %}');" href="{{ url }}"><img src="{{ asset('bundles/clublayout/images/ico-delete.gif') }}" class="ico" alt="{% trans %}Not paid{% endtrans %}" title="{% trans %}Not paid{% endtrans %}" /></a> {% trans %}Not paid{% endtrans %}
