<a onclick="return confirm('{% trans %}Are you sure?{% endtrans %}');" href="{{ url }}"><img src="{{ asset('bundles/clublayout/images/icons/16x16/database_repeat_delete.png') }}" class="ico" alt="{% trans %}Overwrite{% endtrans %}" title="{% trans %}Overwrite{% endtrans %}" /></a>
