<a onclick="return confirm('{% trans %}Are you sure?{% endtrans %}');" href="{{ url }}"><img src="{{ asset('bundles/clublayout/images/icons/16/user-add-icon.png') }}" class="ico" alt="{% trans %}Participant{% endtrans %}" title="{% trans %}Participant{% endtrans %}" /></a>
