<a onclick="return confirm('{% trans %}Are you sure?{% endtrans %}');" href="{{ url }}"><img src="{{ asset('bundles/clublayout/images/ico-settings.gif') }}" class="ico" alt="{% trans %}Process{% endtrans %}" title="{% trans %}Process{% endtrans %}" /></a>
