<a onclick="return confirm('{% trans %}Are you sure?{% endtrans %}');" href="{{ url }}"><img src="{{ asset('bundles/clublayout/images/icons/16x16/control_play.png') }}" class="ico" alt="{% trans %}Run{% endtrans %}" title="{% trans %}Run{% endtrans %}" /></a>
