            {% if is_granted('ROLE_ADMIN') %}
            <div class="well">
                <!-- Search -->
                <h2>{% trans %}Search{% endtrans %}</h2>
                {% include "ClubLayoutBundle:Default:ajax_user.html.twig" %}
                <form action="{{ path('club_user_filter_quick') }}" method="POST" id="search" class="form-search">
                    <div class="input-prepend">
                        <button type="submit" class="btn">{% trans %}Search{% endtrans %}</button>
                        {{ form_widget(form.user, { 'attr':{ 'class':'span5 search-query'} }) }}
                        {{ form_rest(form) }}
                    </div>
                </form>
            </div>
            {% endif %}
