            {% if is_granted('ROLE_ADMIN') %}
            <div class="well">
                <h3>{% trans %}Search{% endtrans %}</h3>
                <form action="{{ path('club_user_filter_quick') }}" method="POST" id="search" class="form-search">
                    {{ form_widget(form.user, { 'attr':{ 'class':'span9 search-query'} }) }}
                    <button type="submit" class="btn">Search</button>
                    {{ form_rest(form) }}
                </form>
            </div>
            {% endif %}
