            {% if is_granted('ROLE_ADMIN') %}
            <div class="well">
                <!-- Search -->
                <h2>{% trans %}Search{% endtrans %}</h2>
                {% include "ClubLayoutBundle:Default:ajax_user.html.twig" %}
                <form action="{{ path('club_user_filter_quick') }}" method="POST" id="search" class="form-search">
                    <div class="input-prepend">
                        <button type="submit" class="btn">{% trans %}Search{% endtrans %}</button>
                        <input type="text" id="query" name="query" class="span5 search-query" />
                    </div>
                    <input type="hidden" name="query_id" id="query_id" value="" />
                </form>
            </div>
            {% endif %}
