<form action="{{ path('club_user_filter_quick') }}" method="POST" id="search" class="navbar-search pull-right form-search">
    <div class="input-prepend">
        <button type="submit" class="btn">{% trans %}Search{% endtrans %}</button>
        {{ form_widget(form.user, { 'attr':{ 'class':'span9 search-query'} }) }}
    </div>
    {{ form_rest(form) }}
</form>
