<a href="{{ url }}"><img src="{{ asset('bundles/clublayout/images/icons/16/shopping-cart-insert-icon.png') }}" class="ico" alt="{% trans %}Shop as{% endtrans %}" title="{% trans %}Shop as{% endtrans %}" /></a>
