<a onclick="return confirm('{% trans %}Are you sure?{% endtrans %}');" href="{{ url }}"><img src="{{ asset('bundles/clublayout/images/icons/16x16/clock_delete.png') }}" class="ico" alt="{% trans %}Stop{% endtrans %}" title="{% trans %}Stop{% endtrans %}" /></a>
