<a href="{{ url }}"><img src="{{ asset('bundles/clublayout/images/icons/16/System-Security-Card-icon.png') }}" class="ico" alt="{% trans %}Subscription{% endtrans %}" title="{% trans %}Subscription{% endtrans %}" /></a>
