<a onclick="return confirm('{% trans %}Are you sure?{% endtrans %}');" href="{{ url }}"><img src="{{ asset('bundles/clublayout/images/icons/16x16/arrow_up.png') }}" class="ico" alt="{% trans %}Up{% endtrans %}" title="{% trans %}Up{% endtrans %}" /></a>
