            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="well sidebar-nav">
                Logged in as <a href="#" class="navbar-link">{{ app.user }}</a>,
                <a href="{{ path('logout') }}" id="logout">{% trans %}log out{% endtrans %}</a>
            </div>
            {% endif %}

