{% extends "ClubBookingBundle::base.html.twig" %}

{% block body %}
<p class="box"><a href="{{ path('club_booking_adminplancategory_new') }}" class="btn-create"><span>{% trans %}Create category{% endtrans %}</span></a></p>

<table class="style">
  <thead>
    <tr>
      <th>{% trans %}Name{% endtrans %}</th>
      <th>{% trans %}Created at{% endtrans %}</th>
      <th>{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="3">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for plan_category in plan_categories %}
    <tr>
      <td>{{ plan_category.name }}</td>
      <td>{{ plan_category.createdAt|club_datetime }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('club_booking_adminplancategory_edit', { 'id':plan_category.id })} %}
        {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('club_booking_adminplancategory_delete', { 'id':plan_category.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="3">{% trans %}There are no categories.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
