{% extends "ClubLayoutBundle:Default:base.html.twig" %}

{% block header %}<h1>Event</h1>{% endblock %}

{% block body %}

<form method="post" action="{{ path('admin_event_event_edit', {'id':event.id}) }}">
{% include "ClubEventBundle:AdminEvent:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
