{% extends "ClubEventBundle::base.html.twig" %}

{% block header %}
<h1 class="page-header">{{ event.eventName }}</h1>
{% endblock %}

{% block body %}

{% include "ClubEventBundle:AdminEvent:header.html.twig" %}
{% include "ClubEventBundle:AdminEvent:form.html.twig" with {'path':path('admin_event_event_edit', {'id':event.id}), 'novalidate':true} %}

{% endblock %}
