{% extends "ClubEventBundle::base.html.twig" %}

{% block javascripts %}
  {% include "ClubLayoutBundle:Default:tinymce.html.twig" %}
{% endblock %}

{% block body %}

<form method="post" action="{{ path('club_event_adminevent_new') }}">
{% include "ClubEventBundle:AdminEvent:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
