{% extends "ClubMailBundle::base.html.twig" %}

{% block body %}
<h2>{% trans %}Mail{% endtrans %}</h2>

<table>
  <thead>
    <tr>
      <th>{% trans %}Event{% endtrans %}</th>
      <th>{% trans %}File{% endtrans %}</th>
      <th>{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="3">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for file in files %}
    <tr>
      <td>{{ file.event }}</td>
      <td>{{ file.path }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:show_link.html.twig" with {'url':path('club_mail_adminmail_show', {'event':file.event})} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="3">{% trans %}There are no files.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
