{% extends "ClubCheckinBundle::base.html.twig" %}

{% block body %}
{% include "ClubPaginatorBundle:Paginator:paginator.html.twig" %}

<table class="table">
  <thead>
    <tr>
      <th>{% trans %}User{% endtrans %}</th>
      <th>{% trans %}Created at{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
  {% for checkin in paginator %}
    <tr>
      <td>{{ checkin.user.profile.name }}</td>
      <td>{{ checkin.createdAt|club_datetime }}</td>
    </tr>
  {% else %}
  <tr>
    <td colspan="3">{% trans %}There are no checkins.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
