{% extends "ClubInstallerBundle::base.html.twig" %}

{% block body %}
<h3>ClubMaster upgrade tool</h3>

<h4>Database versions</h4>
<p>Your current database version: <strong>{{ current_version }}</strong></p>

<table class="table table-bordered">
    <tr>
        <th>{% trans %}Version{% endtrans %}</th>
        <th>{% trans %}Installed{% endtrans %}</th>
    </tr>
    {% for version in migrations %}
    <tr>
        <td>{{ version.version }}</td>
        <td>{% include "ClubLayoutBundle:Default:boolean.html.twig" with {'flag':version.is_upgraded} %}</td>
    </tr>
    {% endfor %}
</table>

{% if not_installed|length == 0 %}
<p>There are no database upgrades for this version.</p>

<form class="form-horizontal">
    <div class="form-actions">
        <a href="{{ path('homepage') }}" class="btn btn-info">Return home</a>
    </div>
</form>

{% else %}
<P>You are not running the latest version of ClubMaster.</p>

<ul>
  <li>Start by backing up your database.</li>
  <li>Push the <strong>UPGRADE</strong> button below.</li>
</ul>

<form class="form-horizontal">
    <div class="form-actions">
        <a href="{{ path('club_installer_upgrade_migrate') }}" class="btn btn-info">Upgrade database</a>
    </div>
</form>

{% endif %}

{% endblock %}
