{% extends "ClubInstallerBundle::base.html.twig" %}

{% block body %}
<h2>ClubMaster Upgrader</h2>

<p>This is the upgrader tool ClubMaster.</p>

<p>Your current database version: <strong>{{ configuration.currentVersion }}</strong></p>
<p>Latest database version: <strong>{{ configuration.latestVersion }}</strong></p>

{% if configuration.currentVersion == configuration.latestVersion %}
<p>There are no database upgrades for this version. Just return to <a href="{{ path('homepage') }}">the login screen</a> to continue to use ClubMaster.</p>

{% else %}
<P>You are not running the latest version of ClubMaster.</p>

<ul>
  <li>Start by backing up your database.</li>
  <li>Push the <strong>UPGRADE</strong> button below.</li>
</ul>

<p><strong><a href="{{ path('club_installer_upgrade_upgrade') }}">UPGRADE ClubMaster</a></strong></p>
{% endif %}

<h4>ClubMaster team</h4>

{% endblock %}
