{% extends "ClubInstallerBundle::base.html.twig" %}

{% block body %}
<h2>ClubMaster Upgrader</h2>

<p>This is the upgrader tool ClubMaster.</p>

<p>After running this software your application will be up to date.</p>

<p>ClubMaster team</p>

{% endblock %}
