{% extends "ClubLayoutBundle:Default:base_simple.html.twig" %}

{% block body %}
<h2>ClubMaster Upgrader</h2>

<p>This is the upgrader tool ClubMaster.</p>

<p>Your database has now been upgraded, return to your <a href="{{ path('homepage') }}">login screen</a>.</p>

<h4>ClubMaster team</h4>

{% endblock %}
