{% extends "ClubInstallerBundle::base.html.twig" %}

{% block body %}
<h2>ClubMaster Upgrader</h2>

<p>This is the upgrader tool ClubMaster.</p>

<p>Your database has now been upgraded, return to your <a href="{{ path('homepage') }}">login screen</a>.</p>

<p>ClubMaster team</p>

{% endblock %}
