{% extends "ClubMailBundle::base.html.twig" %}

{% block header %}
<h1 class="page-header">{% trans %}Mail Log{% endtrans %}</h1>
{% endblock %}

{% block body %}

{% include "ClubLogBundle:Log:header.html.twig" %}
{% include "ClubMailBundle:MailLog:logs.html.twig" %}

{% endblock %}
