<h2>{% trans %}Logs{% endtrans %}</h2>

<table class="style">
  <thead>
    <tr>
      <th>{% trans %}Id{% endtrans %}</th>
      <th>{% trans %}Recipient{% endtrans %}</th>
      <th>{% trans %}Error{% endtrans %}</th>
      <th>{% trans %}Created at{% endtrans %}</th>
      <th>{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="5">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for log in logs %}
    <tr>
      <td>{{ log.id }}</td>
      <td>{{ log.recipient }}</td>
      <td>{{ log.error }}</td>
      <td>{{ log.createdAt|date('Y-m-d H:i:s') }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:show_link.html.twig" with {'url':path('club_mail_maillog_show', {'id':log.id}) } %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="5">{% trans %}There are no logs.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

