{% extends "ClubLogBundle::base.html.twig" %}

{% block body %}
{% include "ClubLogBundle:Log:header.html.twig" %}

<table class="table table-bordered">
    <tr>
        <th>{% trans %}Recipient{% endtrans %}</th>
        <td>{{ log.recipient }}</td>
    </tr>
    <tr>
        <th>{% trans %}Sent at{% endtrans %}</th>
        <td>{{ log.createdAt|club_datetime }}</td>
    </tr>
    <tr>
        <th>{% trans %}Message{% endtrans %}</th>
        <td>{{ log.message|nl2br }}</td>
    </tr>
</table>

{% endblock %}
