<p class="box">
  <a href="{{ path('club_log_log_index') }}" class="btn-info"><span>Action Log</span></a>
  <a href="{{ path('club_mail_maillog_index') }}" class="btn-info"><span>Mail Log</span></a>
  <a href="{{ path('club_user_loginlog_index') }}" class="btn-info"><span>Login Log</span></a>
</p>
