{% extends "::base.html.twig" %}

{% block body %}

<h1>Log</h1>

{% include "::flash.html.twig" %}

{% include "ClubLogBundle:Log:logs.html.twig" with {'logs':logs} %}
{% include "ClubLogBundle:Log:login_attempts.html.twig" with {'login_attempts':login_attempts} %}

{% endblock %}
