{% extends "ClubLogBundle::base.html.twig" %}

{% block body %}

{% include "ClubLogBundle:Log:header.html.twig" %}

<h2>{{ log.logType|capitalize }} <em>({{ log.severity }})</em></h2>

<div class="box-03 log box">

  <h2 class="nomb">{{ log.logType|capitalize }}</h2>
  <p class="nomt low">
    {% trans with {'%date%':log.createdAt|date('Y-m-d H:i:s')} %}Created at: %date%{% endtrans %}<br />
    {% if log.user %}
      {% trans with {'%user%':log.user.profile.name} %}User: %user%{% endtrans %}<br />
    {% else %}
      {% trans with {'%user%':'System'} %}User: %user%{% endtrans %}<br />
    {% endif %}
    {% trans with {'%severity%':log.severity} %}Severity: %severity%{% endtrans %}<br />
    {% trans with {'%event%':log.event} %}Event: %event%{% endtrans %}<br />
    {% trans with {'%type%':log.logType} %}Type: %type%{% endtrans %}
  </p>

  <h2>{% trans %}Message{% endtrans %}</h2>
  <p class="nomt low">{{ log.log|raw }}</p>

</div> <!-- /box-03 -->

{% endblock %}
