{% extends "ClubLogBundle::base.html.twig" %}

{% block pagenav %}
<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="{{ path("club_log_log_index") }}">{% trans %}Back to list{% endtrans %}</a>
        </ul>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="box-03 noimage box">

  <h2 class="nomb">{{ log.severity }}</h2>
  <p class="nomt low">
  {% if log.user %}
    {% trans with {'%name%':log.user.profile.name} %}Name: %name%{% endtrans %}
  {% else %}
    {% trans with {'%name%':'System'} %}Name: %name%{% endtrans %}
  {% endif %}<br />
  {% trans with {'%date%':log.createdAt|club_datetime} %}Created at: %date%{% endtrans %}
  </p>

  <h2>{% trans %}Message{% endtrans %}</h2>
  <p>{{ log.log }}</p>

</div> <!-- /box-03 -->

{% endblock %}
