{% extends "ClubLogBundle::base.html.twig" %}

{% block body %}
<table class="table table-bordered">
    <tr>
        <th>{% trans %}Severity{% endtrans %}</th>
        <td>{{ log.severity }}</td>
    </tr>
    <tr>
        <th>{% trans %}Name{% endtrans %}</th>
        <td>
            {% if log.user %}
                {% trans with {'%name%':log.user.profile.name} %}Name: %name%{% endtrans %}
            {% else %}
                {% trans with {'%name%':'System'} %}Name: %name%{% endtrans %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{% trans %}Date{% endtrans %}</th>
        <td>{{ log.createdAt|club_datetime }}</td>
    </tr>
    <tr>
        <th>{% trans %}Message{% endtrans %}</th>
        <td>{{ log.log }}</td>
    </tr>
</table>

{% endblock %}
