{% extends "::base.html.twig" %}

{% block header %}<h1>Product Attributes</h1>{% endblock %}

{% block body %}

<form method="post" action="{{ path('admin_shop_product_attribute_edit', {'id':attr.id}) }}">
{% include "ClubShopBundle:AdminProductAttribute:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
