{% extends "ClubShopBundle::base.html.twig" %}


{% block body %}
<h2>Edit Product {{ product.productName }}</h2>

<form method="post" action="{{ path('admin_shop_product_attribute', {'id':product.id}) }}">
{% include "ClubShopBundle:AdminProductAttribute:form.html.twig" %}
</form>

{% endblock %}
