{% extends "ClubShopBundle::base.html.twig" %}

{% block body %}

<h2>{% trans %}Register payment{% endtrans %}</h2>

<form method="post" action="{{ path('club_payment_cash_cash_register', {'order_id':order.id}) }}">
{% include "ClubLayoutBundle:Default:form.html.twig" %}
</form>

{% endblock %}
