{% extends "ClubUserBundle::base.html.twig" %}

{% block body %}

<p>If you have a long list of users you want to import, you can use this page.</p>

<form method="post" action="{{ path('club_user_adminuserimport_import') }}" {{ form_enctype(form) }}>
{% include "ClubLayoutBundle:Default:form.html.twig" with {'legend':'Import CSV','button':'Import'|trans} %}
</form>

{% endblock %}
