{% extends "ClubRankingBundle::base.html.twig" %}

{% block header %}
<h1 class="page-header">{% trans with {'%name%':ranking.name} %}Ranking, %name%{% endtrans %}</h1>
{% endblock %}

{% block body %}
<p>{% trans %}When you have played in this ranking, insert the match result in order to update the ranking list.{% endtrans %}</p>

{% include "ClubMatchBundle:Match:match_form.html.twig" with {'path':path('club_ranking_match_new', {'ranking_id':ranking.id})} %}

{% endblock %}
