{% extends "ClubRankingBundle::base.html.twig" %}

{% block body %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<p class="box">
  <a href="{{ path('club_ranking_matchcomment_new', { 'match_id':match.id }) }}" class="btn-info"><span>{% trans %}Add comment{% endtrans %}</span></a>
</p>
{% endif %}

<table class="style">
  <thead>
    <tr>
      <th>{% trans %}Date{% endtrans %}</th>
      <th>{% trans %}Team one{% endtrans %}</th>
      <th style="width: 150px; text-align: center;">{% trans %}Score{% endtrans %}</th>
      <th>{% trans %}Team two{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="4">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
    {% include "ClubRankingBundle:Game:match.html.twig" with {'nocomment':true} %}
  </tbody>
</table>

<h4>{% trans %}Comments{% endtrans %}</h4>
{% for comment in match.matchComments %}
<p><span class="label label-03">{% trans with {'%date%':comment.createdAt|club_datetime,'%author%':comment.user.name} %}Posted on %date% by %author%.{% endtrans %}</span></p>
<p>{{ comment.comment|raw }}</p>
{% else %}
<p>{% trans %}There are no comments for this match.{% endtrans %}</p>
{% endfor %}

{% endblock %}
