{% extends "ClubTeamBundle::base.html.twig" %}

{% block body %}

<form method="post" action="{{ path('club_team_adminteam_edit', {'id':team.id}) }}">
{% include "ClubTeamBundle:AdminTeam:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
