services:
  club.request.menu_listener:
    class: Club\ExchangeBundle\Listener\MenuListener
    arguments: [@router, @security.context, @translator]
    tags:
      - { name: kernel.event_listener, event: top_menu.render, method: onTopMenuRender }
      - { name: kernel.event_listener, event: dash_menu.render, method: onDashMenuRender }
  club.welcomebundle.dashboard_listener:
    class: Club\ExchangeBundle\Listener\DashboardListener
    arguments: [@service_container]
    tags:
      - { name: kernel.event_listener, event: member.view, method: onMemberView }
      - { name: kernel.event_listener, event: dashboard.coming, method: onDashboardComing }
