{% extends "ClubShopBundle::base.html.twig" %}

{% block body %}
<p class="box"><a class="btn-create" href="{{ path("shop_product_cart",{"id":product.id}) }}"><span>{% trans %}Put in cart{% endtrans %}</span></a></p>

<div class="box-03 noimage box">

  <h2 class="nomb">{{ product.productName }}</h2>
  <p class="nomt low">
    {% trans with {'%price%':product.specialPrice|club_price} %}Price: %price%{% endtrans %}<br />
  </p>
  <h2>{% trans %}Description{% endtrans %}</h2>
  <p>{{ product.description|raw }}</p>

  {% if product.productAttributes|length > 0 %}
  <h2>{% trans %}Attributes{% endtrans %}</h2>
  <ul>
    {% if attr.start_date and attr.expire_date %}
    <li>{% trans with {'%start%':attr.nextStartDate|club_date,'%expire%':attr.nextExpireDate|club_date} %}Your subscription period is %start% - %expire%.{% endtrans %}</li>
    {% endif %}
    {% if attr.booking %}
    <li>{% trans %}Your subscription will give you access to use bookings.{% endtrans %}</li>
    {% endif %}
    {% if attr.team %}
    <li>{% trans %}Your subscription will give you access to use teams.{% endtrans %}</li>
    {% endif %}
    {% if attr.time_interval %}
    <li>{% trans with {'%time%':attr.time_interval} %}Your subscription will last <b>%time%</b>.{% endtrans %}</li>
    {% endif %}
    {% if attr.ticket %}
    <li>{% trans with {'%tickets%':attr.ticket} %}You will receive <b>%tickets% tickets</b>.{% endtrans %}</li>
    {% endif %}
    {% if attr.auto_renewal %}
    <li>{% trans %}Your subscription will be <b>automatically renewed</b>.{% endtrans %}</li>
    {% endif %}
    {% if attr.allowed_pauses %}
    <li>{% trans with {'%pauses%':attr.allowed_pauses} %}You will be able to take <b>%pauses% pauses</b> during your membership period.{% endtrans %}</li>
    {% endif %}
  </ul>
  {% endif %}

</div> <!-- /box-03 -->

{% endblock %}
