{% extends "ClubLayoutBundle:Default:base.html.twig" %}

{% block header %}<h1>Product</h1>{% endblock %}

{% block body %}

<h2>{{ product.productName }}</h2>

<p>
Product Name: {{ product.productName }}<br />
Price: {{ product.price }}<br />
</p>
<p><a href="{{ path("shop_product_cart",{"id":product.id}) }}">Add to cart</a></p>

{% endblock %}
