<h2>{% trans %}Booking{% endtrans %}</h2>
  <form method="post" action="{{ path('club_booking_booking_review', {'interval_id':interval.id, 'date':date|date('Y-m-d')}) }}" class="form-horizontal">
    <p>{% trans %}Find your partner and complete your booking.{% endtrans %}</p>
    {{ form_widget(form) }}
    {% include "ClubLayoutBundle:Default:submit_button.html.twig" %}
  </form>

<h2>{% trans %}Guest booking{% endtrans %}</h2>
  <form method="post" action="{{ path('club_booking_booking_review', {'interval_id':interval.id, 'date':date|date('Y-m-d')}) }}" class="form-horizontal">
    <p>{% trans %}Click here if you want to book with a guest.{% endtrans %}</p>
    <input type="hidden" name="guest" value="1" />
    {% include "ClubLayoutBundle:Default:submit_button.html.twig" %}
  </form>

