{% extends "ClubBookingBundle::base.html.twig" %}

{% block body %}
<h2>{% trans %}Booking{% endtrans %}</h2>

{% include "ClubBookingBundle:Overview:information.html.twig" %}

{% elseif (is_granted('IS_AUTHENTICATED_FULLY')) and interval.available %}
  {% include "ClubBookingBundle:Overview:book_form.html.twig" %}

{% endif %}

{% endblock %}
