{% extends "ClubBookingBundle::base.html.twig" %}

{% block body %}
<h2>{% trans %}Booking{% endtrans %}</h2>
{% include "ClubBookingBundle:Overview:information.html.twig" %}

{% if (is_granted('IS_AUTHENTICATED_FULLY')) and interval.available and app.user.memberStatus %}
  {% include "ClubBookingBundle:Overview:book_form.html.twig" %}

{% endif %}

{% endblock %}
