{% extends "ClubRequestBundle::base.html.twig" %}

{% block body %}

<form method="post" action="{{ path('club_request_comment_new', {'id':request.id}) }}">
{% include "ClubLayoutBundle:Default:form.html.twig" %}
</form>

{% endblock %}
