{% extends "ClubUserBundle::base.html.twig" %}

{% block header %}
<div class="page-header"><h1><img class="img-polaroid" src="{{ asset('bundles/clublayout/images/icons/32x32/user.png') }}" /> {{ app.user.name }}</h1></div>
{% endblock %}

{% block pagenav %}
{% include "ClubUserBundle:User:header.html.twig" %}
{% endblock %}

{% block body %}
<p>{% trans %}Here you have some different settings that can make your profile more personal.{% endtrans %}</p>

{% include "ClubLayoutBundle:Default:form.html.twig" with {'path':path('club_user_usersetting_index'),'legend':'User settings'|trans} %}

{% endblock %}
