{% extends "ClubUserBundle::base.html.twig" %}

{% block body %}

<p>{% trans %}Here you have some different settings that can make your profile more personal.{% endtrans %}</p>

<form method="post" action="{{ path('club_user_usersetting_index') }}" class="form-horizontal">
{% include "ClubLayoutBundle:Default:form.html.twig" with {'legend':'User settings'|trans} %}
</form>

{% endblock %}
