{% extends "ClubEventBundle::base.html.twig" %}

{% block body %}
<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="{{ path('club_event_event_ical') }}">{% trans %}iCal format{% endtrans %}</a></li>
        </ul>
    </div>
</div>

{% for event in events %}
<div class="box-03 event box">

  <h2 class="nomb"><a href="{{ path('event_event_show', {'id':event.id}) }}"/>{{ event.eventName }}</a></h2>
  <p class="nomt low">
    {% trans with {'%date%':event.startDate|club_datetime } %}Start date: %date%{% endtrans %}<br />
    {% trans with {'%date%': event.stopDate|club_datetime } %}Stop date: %date%{% endtrans %}<br />
  </p>

</div> <!-- /box-03 -->

{% else %}
    {% include "ClubLayoutBundle:Default:flash_info.html.twig" with {'msg':'There are no planned events.'|trans} %}
{% endfor %}
{% endblock %}
