{% extends "ClubEventBundle::base.html.twig" %}

{% block pagenav %}
<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="{{ path('club_event_event_ical') }}">{% trans %}iCal format{% endtrans %}</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block body %}
<table class="table">
    <thead>
        <tr>
            <th>{% trans %}Event Name{% endtrans %}</th>
            <th>{% trans %}Date{% endtrans %}</th>
            <th>{% trans %}Action{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr>
            <td><a href="{{ path('event_event_show', {'id':event.id}) }}"/>{{ event.eventName }}</a></td>
            <td>{{ event.startDate|club_datetime }}</td>
            <td>
                {% include "ClubLayoutBundle:Default:show_link.html.twig" with {'url':path('event_event_show', {'id':event.id})} %}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="3">{% trans %}There are no planned events.{% endtrans %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
