{% extends "ClubEventBundle::base.html.twig" %}

{% block pagenav %}
<div class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="{{ path('club_event_event_ical') }}">{% trans %}iCal format{% endtrans %}</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block body %}
{% for event in events %}

{% include "ClubEventBundle:Event:entry.html.twig" %}

{% else %}
<div class="well well-large"><strong>{% trans %}There are no planned events.{% endtrans %}</strong></div>
{% endfor %}

{% endblock %}
