{% extends "ClubEventBundle::base.html.twig" %}

{% block body %}

<p class="box">
{% if event.isAttending(user) %}
<a href="{{ path('event_event_unattend', {'id':event.id}) }}" class="btn-delete"><span>{% trans %}Unattend{% endtrans %}</span></a>
{% else %}
<a href="{{ path('event_event_attend', {'id':event.id}) }}" class="btn-create"><span>{% trans %}Attend{% endtrans %}</span></a>
{% endif %}
</p>

<div class="box-03 event box">

  <h2 class="nomb">{{ event.eventName }}</h2>
  <p class="nomt low">
    {% trans with {'%date%':event.startDate|date('Y-m-d H:i')} %}Start date: %date%{% endtrans %}<br />
    {% trans with {'%date%':event.stopDate|date('Y-m-d H:i')} %}Start date: %date%{% endtrans %}<br />
    {% if event.price == '' %}{% trans with {'%price%':'-'} %}Price: %price%{% endtrans %}
    {% else %}{% trans with {'%price%':event.price|club_price} %}Price: %price%{% endtrans %}{% endif %}
  </p>

  <h2>{% trans %}Description{% endtrans %}</h2>
  <p class="nomt low">{{ event.description|raw }}</p>

</div> <!-- /box-03 -->

{% endblock %}
