{% extends "ClubShopBundle::base.html.twig" %}


{% block body %}

<form method="post" action="{{ path('admin_shop_shipping_edit', {'id':shipping.id}) }}">
{% include "ClubShopBundle:AdminShipping:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
