{% extends "ClubLayoutBundle:Default:base.html.twig" %}

{% block header %}<h1>Shipping</h1>{% endblock %}

{% block body %}

<form method="post" action="{{ path('admin_shop_shipping_edit', {'id':shipping.id}) }}">
{% include "ClubShopBundle:AdminShipping:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
