{% extends "ClubShopBundle::base.html.twig" %}

{% block pagenav %}
<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="{{ path('admin_shop_shipping_new') }}">{% trans %}Create shipping{% endtrans %}</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block body %}
<table class="table">
  <thead>
    <tr>
      <th>{% trans %}Shipping{% endtrans %}</th>
      <th>{% trans %}Price{% endtrans %}</th>
      <th class="action">{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="3">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for shipping in shippings %}
    <tr>
      <td>{{ shipping.shippingName }}</td>
      <td>{{ shipping.price }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('admin_shop_shipping_edit', { 'id':shipping.id })} %}
        {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('admin_shop_shipping_delete', { 'id':shipping.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="3">{% trans %}There are no shipping.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
