{% extends "::base.html.twig" %}

{% block body %}
<h1>Shipping</h1>

<form method="post" action="{{ path('admin_shop_shipping_new') }}">
{% include "ClubShopBundle:AdminShipping:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
