{% extends "ClubLayoutBundle:Default:base.html.twig" %}

{% block body %}

{% include "ClubLayoutBundle:Default:flash_info.html.twig" with {'msg':'Enter your username or email address, and you will receive a reset password email within a few minutes.'|trans} %}

<form method="POST" action="{{ path('auth_forgot') }}" class="form-horizontal">
    {{ form_widget(form) }}

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">{% trans %}Send password{% endtrans %}</button>
        </div>
    </div>

</form>


{% endblock %}
