    <form method="post" action="{{ path('login_check') }}" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="_username">{% trans %}Username{% endtrans %}</label>
            <div class="controls">
                <input type="text" id="_username" name="_username" placeholder="{% trans %}Username{% endtrans %}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="_password">{% trans %}Password{% endtrans %}</label>
            <div class="controls">
                <input type="password" id="_password" name="_password" placeholder="{% trans %}Password{% endtrans %}">
                <input type="submit" value="{% trans %}Sign In{% endtrans %}" class="btn btn-primary" />
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <span><a href="{{ path('auth_forgot') }}">{% trans %}Forgot password?{% endtrans %}</a></span><br />
            </div>
        </div>

    </form>
