{% extends "ClubLayoutBundle:Default:base.html.twig" %}

{% block body %}
        <div id="login-box">

                {% include "ClubLayoutBundle:Default:flash.html.twig" %}
                {% include "ClubLayoutBundle:Default:flash_info.html.twig" with {'msg':'Enter your new password below.'|trans} %}

                <!-- Form -->
                <form method="POST" action="{{ path('auth_reset', {'hash':forgot.hash}) }}">
                {{ form_widget(form) }}
                <table class="nom nostyle">
                        <tr>
                                <td colspan="2" class="t-right"><input type="submit" class="input-submit" value="Sign In &raquo;" /></td>
                        </tr>
                </table>
                </form>

        </div> <!-- /login-box -->

        <div id="login-bottom"></div>
{% endblock %}
