{% extends "ClubLayoutBundle:Default:base.html.twig" %}

{% block body %}

{% include "ClubFormExtraBundle:Default:flash.html.twig" %}

<form method="POST" action="{{ path('auth_reset', {'hash':forgot.hash}) }}" class="horizontal">

    {{ form_widget(form) }}
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">{% trans %}Set password{% endtrans %}</button>
        </div>
    </div>

</form>

{% endblock %}
