{% extends "ClubLayoutBundle::base.html.twig" %}

{% block header %}
<div class="page-header">
    <h1><img src="{{ asset('bundles/clublayout/images/icons/32x32/book.png') }}" /> {% trans %}Team{% endtrans %}</h1>
</div>
{% endblock %}
