{% extends "ClubInstallerBundle::base.html.twig" %}

{% block body %}
<h2>Congretulations</h2>

<p>You have finished the installation.</p>

<p>Now go to the login window and start using your new fresh installation.</p>

<p><a href="{{ path('homepage') }}">Start using ClubMaster</a></p>

<p>Your username is: <strong>1</strong></p>

<p>ClubMaster team</p>

{% endblock %}
