{% extends "ClubInstallerBundle::base.html.twig" %}

{% block body %}
<h2>{% trans %}Congratulations{% endtrans %}</h2>

<p>{% trans %}Your installation has successful completed. You can not start use your new open source membership management system.{% endtrans %}</p>

<h4>{% trans %}Member number{% endtrans %}: 1</h4>

<p>
  <a href="{{ path('homepage') }}" class="btn">{% trans %}Go to ClubMaster{% endtrans %}</a>
</p>

{% endblock %}
