{% extends "ClubInstallerBundle::base.html.twig" %}

{% block header %}
<h1 class="page-header">ClubMaster Installation <small>Finish!</small></h1>
{% endblock %}

{% block pagenav %}
{% include "ClubInstallerBundle:Installer:top.html.twig" with {'page':'finish'} %}
{% endblock %}

{% block body %}
<p>Your installation has successful completed. You can start use your new open source membership management system.</p>

<h4>Member number: {{ user.memberNumber }}</h4>

<form class="form-horizontal">
    <div class="form-actions">
        <a href="{{ path('homepage') }}" class="btn btn-primary">Go to ClubMaster</a>
    </div>
</form>

{% endblock %}
