{% extends "ClubLayoutBundle:Default:base_simple.html.twig" %}

{% block body %}
<h2>{% trans %}ClubMaster Installation{% endtrans %}</h2>

<p>{% trans %}Before you can continue your installation of ClubMaster, you will have to install the database.{% endtrans %}</p>

{% if app.session.hasFlash('error') %}
  <p>{% trans %}An error occur, please correct the problem and try again.{% endtrans %}</p>

  <p>
    <a href="{{ path("club_installer_installer_database") }}" class="btn">{% trans %}Try again{% endtrans %}</a>
  </p>

{% else %}
  <p>
    <a href="{{ path("club_installer_installer_migrate") }}" class="btn">{% trans %}Install database{% endtrans %}</a>
  </p>
{% endif %}
{% endblock %}
