{% extends "ClubInstallerBundle::base.html.twig" %}

{% block body %}
{% include "ClubInstallerBundle:Installer:top.html.twig" with {'page':'welcome'} %}

<h2>{% trans %}ClubMaster Installation{% endtrans %}</h2>

<p>{% trans %}This is the installer of ClubMaster.{% endtrans %}</p>

<p>{% trans %}When you have completed the following list of steps, you are ready to start using ClubMaster.{% endtrans %}</p>

<ul>
  <li>{% trans %}Install database{% endtrans %}</li>
  <li>{% trans %}Administrator setup{% endtrans %}</li>
  <li>{% trans %}Location setup{% endtrans %}</li>
</ul>

<form class="form-horizontal">
    <div class="form-actions">
        <a href="{{ path("club_installer_installer_config") }}" class="btn btn-primary">{% trans %}Start installation{% endtrans %}</a>
    </div>
</form>

{% endblock %}
