{% extends "ClubLayoutBundle:Default:base_simple.html.twig" %}

{% block body %}
<h2>{% trans %}ClubMaster Installation{% endtrans %}</h2>

<p>{% trans %}This is the installer of ClubMaster.{% endtrans %}</p>

<p>{% trans %}When you have completed the following list of steps, you are ready to start using ClubMaster.{% endtrans %}</p>

<ul>
  <li>{% trans %}Install database{% endtrans %}</li>
  <li>{% trans %}Administrator setup{% endtrans %}</li>
  <li>{% trans %}Location setup{% endtrans %}</li>
</ul>

<p>
  <a href="{{ path("club_installer_installer_database") }}" class="btn">{% trans %}Start installation{% endtrans %}</a>
</p>

{% endblock %}
