{% extends "ClubLayoutBundle:Default:base.html.twig" %}

{% block body %}
<h2>ClubMaster Installer</h2>

<p>This is the installer program of ClubMaster.</p>

<p>When you have completed the following list of steps, you are ready to start using ClubMaster.</p>

<ul>
  <li>Administrator setup</li>
  <li>Location setup</li>
</ul>

<p>ClubMaster team</p>

<p><a href="{{ path("club_installer_installer_administrator") }}">Start installer</a></p>
{% endblock %}
