{% extends "ClubInstallerBundle::base.html.twig" %}

{% block header %}
<div class="page-header"><h1>ClubMaster Installation</h1></div>
{% endblock %}

{% block pagenav %}
{% include "ClubInstallerBundle:Installer:top.html.twig" with {'page':'welcome'} %}
{% endblock %}

{% block body %}
<p>This is the installer of ClubMaster.</p>

<p>When you have completed the following list of steps, you are ready to start using ClubMaster.</p>

<ul>
  <li>Configure database</li>
  <li>Install database</li>
  <li>Administrator setup</li>
  <li>Location setup</li>
</ul>

<form class="form-horizontal">
    <div class="form-actions">
        <a href="{{ path("club_installer_installer_config") }}" class="btn btn-primary">Start installation</a>
    </div>
</form>

{% endblock %}
