{% extends "ClubInstallerBundle::base.html.twig" %}

{% block body %}
<h2>ClubMaster Installer</h2>

<p>This is the installer program of ClubMaster.</p>

<p>When you have completed the following list of steps, you are ready to start using ClubMaster.</p>

<ul>
  <li>Install database</li>
  <li>Administrator setup</li>
  <li>Location setup</li>
</ul>

<p class="box">
  <a href="{{ path("club_installer_installer_database") }}" class="btn"><span>Start installation</span></a>
</p>

{% endblock %}
