{% extends "ClubInstallerBundle::base.html.twig" %}

{% block body %}
<h2>{% trans %}ClubMaster Installation{% endtrans %}</h2>

<p>{% trans %}This is the installer of ClubMaster.{% endtrans %}</p>

<form method="post" action="{{ path('club_installer_installer_location') }}">
  <fieldset>
    <legend>{% trans %}Location Information{% endtrans %}</legend>

    {{ form_row(form.location_name) }}
    {{ form_row(form.currency) }}

    <br />
    {{ form_row(form._token) }}
    {% include "ClubLayoutBundle:Default:submit_button.html.twig" %}
  </fieldset>
</form>

{% endblock %}
