{% extends "ClubInstallerBundle::base.html.twig" %}

{% block header %}
<div class="page-header"><h1>ClubMaster Installation <small>Location</small></h1></div>
{% endblock %}

{% block pagenav %}
{% include "ClubInstallerBundle:Installer:top.html.twig" with {'page':'location'} %}
{% endblock %}

{% block body %}
<p>{% trans %}Setup a default location for your first Club.{% endtrans %}</p>

<form method="post" action="{{ path('club_installer_installer_location') }}" class="form-horizontal">
  <fieldset>
    <legend>{% trans %}Location Information{% endtrans %}</legend>

    {{ form_row(form.location_name) }}
    {{ form_row(form.currency) }}

    <br />
    {{ form_row(form._token) }}
    {% include "ClubLayoutBundle:Default:submit_button.html.twig" %}
  </fieldset>
</form>

{% endblock %}
