<ul class="breadcrumb">
  <li {% if page == 'welcome' %}class="active"{% endif %}>Welcome <span class="divider">/</span></li>
  <li {% if page == 'config' %}class="active"{% endif %}>Config <span class="divider">/</span></li>
  <li {% if page == 'parameter' %}class="active"{% endif %}>Parameter <span class="divider">/</span></li>
  <li {% if page == 'database' %}class="active"{% endif %}>Database <span class="divider">/</span></li>
  <li {% if page == 'administrator' %}class="active"{% endif %}>Administrator <span class="divider">/</span></li>
  <li {% if page == 'location' %}class="active"{% endif %}>Location <span class="divider">/</span></li>
  <li {% if page == 'finish' %}class="active"{% endif %}>Finish <span class="divider">/</span></li>
</ul>
