{% extends "ClubBookingBundle::base.html.twig" %}

{% block body %}
<h2>Booking</h2>

<form method="post" action="{{ path('club_booking_booking_guest', {'interval_id':interval.id, 'date':date|date('Y-m-d')}) }}">
<fieldset>
  <legend>Guest Booking</legend>

  <p>Click here if you want to book with a guest.</p>
  {% include "ClubLayoutBundle:Default:submit_button.html.twig" %}

</form>
</fieldset>

{% endblock %}
