    <div class="col-sm-6">
        <div class="well">

            {% if booking.user == app.user or is_granted('ROLE_BOOKING_ADMIN') %}
            <h3>{% trans %}Cancel booking{% endtrans %}</h3>
            <p>{% trans %}If you want to remove the booking click <b>Remove booking</b>.{% endtrans %}</p>

            <a class="btn btn-primary" href="{{ path('club_booking_booking_cancel', {'id':booking.id}) }}">{% trans %}Remove booking{% endtrans %}</a>

            {% else %}
            <h3>{% trans %}Cancel booking{% endtrans %}</h3>
            <p>{% trans %}You can unattend this booking by clicking <b>Unattend</b>, the reservation will be destroyed if there is less that two players left. Also you cannot unattend if you have created the booking.{% endtrans %}</p>

            <a class="btn btn-primary" href="{{ path('club_booking_booking_unattend', {'id':booking.id}) }}">{% trans %}Unattend{% endtrans %}</a>

            {% endif %}

        </div>
    </div>
