<fieldset>
  <legend>{% trans %}Delete{% endtrans %}</legend>

  <p>{% trans %}Click here to cancel your booking.{% endtrans %}</p>

    {% include "ClubLayoutBundle:Default:form.html.twig" with {'path':path('club_booking_booking_cancel', {'id':booking.id}), 'button':'Cancel'|trans} %}
</fieldset>

