<div class="row-fluid">
    <div class="span6">
        <div class="well">

            <h3>{% trans %}Delete{% endtrans %}</h3>
            <p>{% trans %}Click here to cancel your booking.{% endtrans %}</p>
            {% include "ClubLayoutBundle:Default:form.html.twig" with {'path':path('club_booking_booking_cancel', {'id':booking.id}), 'button':'Cancel'|trans} %}

        </div>
    </div>
</div>
