{% block javascripts %}
  <script>
  $(document).ready(function() {
    var date = new Date("{{ date|date('c')}}");
    var url = "{{ path('homepage') }}";
    var location = {{ location.id }};
    var hour_width = 100;
    var field_height = 45;

    initTable(location, date, url, hour_width, field_height);
  });
  </script>
{% endblock %}

{% block body %}

<div class="fix"></div>

<div id="booking">
  <div id="times"></div>
  <div id="fields"></div>
  <div id="intervals"></div>
</div>

{% endblock %}

