{% extends "ClubBookingBundle::base.html.twig" %}

{% block body %}
<h2>{% trans %}Booking{% endtrans %}</h2>

{% include "ClubBookingBundle:Booking:information.html.twig" %}

{% if is_granted('ROLE_BOOKING_ADMIN') or booking.user == app.user %}
  {% include "ClubBookingBundle:Booking:cancel_form.html.twig" %}

{% endif %}

{% endblock %}
