<table class="style">
  <thead>
    <tr>
      <th>{% trans %}Team one{% endtrans %}</th>
      <th>{% trans %}Score{% endtrans %}</th>
      <th>{% trans %}Team two{% endtrans %}</th>
      <th>{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="3">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
    {% for match in game.matches %}
    <tr>
      <td>{{ match.teamOne.teamName }}</td>
      <td>{{ match.displayResult }}</td>
      <td>{{ match.teamTwo.teamName }}</td>
    </tr>
    {% else %}
    <tr>
      <td>{% trans %}No matches has been played.{% endtrans %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
