<table class="style">
  <thead>
    <tr>
      <th>{% trans %}Game{% endtrans %}</th>
      <th>{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="2">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
    {% for match in game.matches %}
    <tr>
      <td>Match</td>
    </tr>
    {% else %}
    <tr>
      <td>{% trans %}No matches has been played.{% endtrans %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
