{% extends "ClubRankingBundle::base.html.twig" %}

{% block body %}

{% for game in games %}
  <h3>{{ game.name }}</h3>

  {% include "ClubRankingBundle:Game:match_button.html.twig" %}
  {% include "ClubRankingBundle:Game:game_table.html.twig" %}

{% else %}
  <p>{% trans %}There are no games.{% endtrans %}</p>
{% endfor %}

{% endblock %}
