{% extends "ClubEventBundle::base.html.twig" %}

{% block body %}
<h2>{% trans %}Attends{% endtrans %}</h2>

<table class="table">
  <thead>
    <tr>
      <th>{% trans %}Event{% endtrans %}</th>
      <th>{% trans %}User{% endtrans %}</th>
      <th>{% trans %}Created at{% endtrans %}</th>
      <th class="action">{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="5">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for attend in event.attends %}
    <tr>
      <td>{{ event.eventName }}</td>
      <td>{{ attend.user.profile.name }}</td>
      <td>{{ attend.createdAt|club_datetime }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('admin_event_attend_delete', {'id':attend.id})} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="5">{% trans %}There are no attends at the time{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
