{% extends "::base.html.twig" %}

{% block header %}<h1>Event</h1>{% endblock %}

{% block body %}

<form method="post" action="{{ path('admin_event_event_new') }}">
{% include "ClubEventBundle:AdminEvent:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
