<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="{{ path('admin_media_document') }}">{% trans %}Media files{% endtrans %}</a></li>
            <li><a href="{{ path('admin_media_document_new') }}">{% trans %}Upload document{% endtrans %}</a></li>
        </ul>
    </div>
</div>
