        <!-- Menu -->
        <div id="menu" class="box">
          <ul class="box f-right">
            {% for item in menu_right %}
            <li><a href="{{ item.route }}"><span><strong>{{ item.name }}</strong></span></a></li>
            {% endfor %}
          </ul>

          <ul class="box">
            {% for item in menu %}
            <li {% if app.request.attributes.get('_route') == item.route %} id="menu-active"{% endif %}>
            <a href="{{ item.route }}"><span>{{ item.name }}</span></a>
            </li>

            {% endfor %}
          </ul>
        </div>
