{% extends "ClubShopBundle::base.html.twig" %}

{% block body %}

{% include "ClubUserBundle:User:header.html.twig" %}

<h2><img src="{{ asset('bundles/clublayout/images/icons/32x32/vcard.png') }}" /> {% trans %}Active subscriptions{% endtrans %}</h2>
{% include "ClubShopBundle:Subscription:subscription_table.html.twig" with {'subscriptions':active} %}

<h2><img src="{{ asset('bundles/clublayout/images/icons/32x32/vcard_add.png') }}" /> {% trans %}Coming subscriptions{% endtrans %}</h2>
{% include "ClubShopBundle:Subscription:subscription_table.html.twig" with {'subscriptions':coming} %}

<h2><img src="{{ asset('bundles/clublayout/images/icons/32x32/vcard_delete.png') }}" /> {% trans %}Expired subscriptions{% endtrans %}</h2>
{% include "ClubShopBundle:Subscription:subscription_table.html.twig" with {'subscriptions':expired} %}

{% endblock %}
