{% extends "ClubShopBundle::base.html.twig" %}

{% block body %}

<h2>{% trans %}Active subscriptions{% endtrans %}</h2>
{% include "ClubShopBundle:Subscription:subscription_table.html.twig" with {'subscriptions':active} %}

<h2>{% trans %}Expired subscriptions{% endtrans %}</h2>
{% include "ClubShopBundle:Subscription:subscription_table.html.twig" with {'subscriptions':expired} %}

{% endblock %}
