{% extends "ClubShopBundle::base.html.twig" %}

{% block body %}

{% include "ClubShopBundle:Shop:header.html.twig" %}

<h2>{% trans %}Active subscriptions{% endtrans %}</h2>
{% include "ClubShopBundle:Subscription:subscription_table.html.twig" with {'subscriptions':active} %}

<h2>{% trans %}Coming subscriptions{% endtrans %}</h2>
{% include "ClubShopBundle:Subscription:subscription_table.html.twig" with {'subscriptions':coming} %}

<h2>{% trans %}Expired subscriptions{% endtrans %}</h2>
{% include "ClubShopBundle:Subscription:subscription_table.html.twig" with {'subscriptions':expired} %}

{% endblock %}
