{% extends "::base.html.twig" %}

{% block header %}<h1>Subscription</h1>{% endblock %}

{% block body %}

{% include "::flash.html.twig" %}

{% include "ClubShopBundle:Subscription:subscription_table.html.twig" with {'user': user} %}
{% include "ClubShopBundle:Subscription:ticket_coupon_table.html.twig" with {'user': user} %}

{% endblock %}
