<h2>{% trans %}Location{% endtrans %}</h2>

<p>{% trans %}This subscription is valid in the following clubs.{% endtrans %}</p>

<p><ul>
{% for location in subscription.location %}
  <li>{{ location.locationName }}</li>
  {% for child in location.childs %}
    <li>{{ child.locationName }}</li>
    {% for child2 in child.childs %}
      <li>{{ child2.locationName }}</li>
      {% for child3 in child2.childs %}
        <li>{{ child3.locationName }}</li>
      {% endfor %}

    {% endfor %}

  {% endfor %}

{% endfor %}
</ul></p>
