{% extends "ClubShopBundle::base.html.twig" %}

{% block body %}

<h2>Subscription</h2>

<table class="style">
  <tbody>
    <tr>
      <th>Day bought:</th>
      <td>{{ subscription.order.createdAt|club_datetime }}</td>
    </tr>
    <tr>
      <th>Price:</th>
      <td>{{ subscription.orderProduct.price|club_price }}</td>
    </tr>
    <tr>
      <th>Period:</th>
      <td>{{ subscription.startDate|club_datetime }} - {% if subscription.expireDate == '' %}Never{% else %}{{ subscription.expireDate|club_datetime }}{% endif %}</td>
    </tr>
    <tr>
      <th>Auto renewal:</th>
      <td>
        {% if subscription.hasAttribute('auto_renewal') %}This subscription will automatically be renewed.
        {% else %}This subscription will not be automatically renewed.{% endif %}
      </td>
    </tr>
    <tr>
      <th>Booking:</th>
      <td>
        {% if subscription.hasAttribute('booking') %}This subscription allow you to use bookings.
        {% else %}This subscription does not allow you to use bookings.{% endif %}
      </td>
    </tr>

    <tr>
      <th>Team:</th>
      <td>
        {% if subscription.hasAttribute('team') %}This subscription allow you to use teams.
        {% else %}This subscription does not allow you to use teams.{% endif %}
      </td>
    </tr>

  </tbody>
</table>

{% if subscription.type == 'ticket' %}
  {% include "ClubShopBundle:Subscription:tickets_table.html.twig" %}
{% endif %}

{% if subscription.hasAttribute('allowed_pauses') %}
  {% include "ClubShopBundle:Subscription:pause_table.html.twig" %}
{% endif %}

{% if subscription.location|length > 0 %}
  {% include "ClubShopBundle:Subscription:location_table.html.twig" %}
{% endif %}

{% endblock %}
