{% extends "ClubTeamBundle::base.html.twig" %}

{% block body %}

<h2>Delete recurring team</h2>

<p>Would you like to delete only this event, all events in the series or this and all future events in the series?</p>

<p><a href="{{ path('club_team_adminschedule_deleteonce', {'id':schedule.id,'team_id':schedule.team.id}) }}">Only this instance</a> All other events in the series will be retained.<p>
<p><input type="button" value="All the following" /> This an all the following events will be deleted.<p>
<p><input type="button" value="All events in the series" /> All events in the series will be deleted.<p>
{% endblock %}
