{% extends "ClubTeamBundle::base.html.twig" %}

{% block body %}

<form method="post" action="{{ path('club_team_adminschedule_edit', {'id':schedule.id, 'team_id':schedule.teamCategory.id}) }}">
{% include "ClubTeamBundle:AdminSchedule:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
