{% extends "ClubTeamBundle::base.html.twig" %}

{% block body %}
<h2>{% trans %}Attends{% endtrans %}</h2>

<table class="style">
  <thead>
    <tr>
      <th>{% trans %}Team{% endtrans %}</th>
      <th>{% trans %}User{% endtrans %}</th>
      <th>{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="3">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for participant in schedule.users %}
    <tr>
      <td>{{ schedule.team.teamName }}</td>
      <td>{{ participant.profile.name }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('club_team_adminschedule_unattend', {'team_id':schedule.team.id,'schedule_id':schedule.id, 'id':participant.id})} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="3">There are no participants at the time</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
