  {% if is_granted('IS_AUTHENTICATED_FULLY') and league.isOpen %}
  {% if league.inviteOnly and league.canPlay(app.user) %}

  <p><a href="{{ path('club_match_leaguematch_new', {'league_id':league.id}) }}" class="btn btn-primary">{% trans %}Insert match{% endtrans %}</a></p>
  {% elseif not league.inviteOnly  %}
    <p><a href="{{ path('club_match_leaguematch_new', {'league_id':league.id}) }}" class="btn btn-primary">{% trans %}Insert match{% endtrans %}</a></p>
  {% endif %}
  {% endif %}
