{% extends "ClubUserBundle::base.html.twig" %}


{% block body %}
<h2>Roles</h2>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Role</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="2">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for role in roles %}
    <tr>
      <td>{{ role.id }}</td>
      <td>{{ role.roleName }}</td>
    </tr>
  {% else %}
  <tr>
    <td colspan="2">There are no roles at the time.</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</form>

{% endblock %}
