{% extends "ClubBookingBundle::base.html.twig" %}

{% block body %}
<p class="box"><a href="{{ path('club_booking_adminplan_new') }}" class="btn-create"><span>{% trans %}Create plan{% endtrans %}</span></a></p>

<table class="style">
  <thead>
    <tr>
      <th>{% trans %}Name{% endtrans %}</th>
      <th>{% trans %}First{% endtrans %}</th>
      <th>{% trans %}End{% endtrans %}</th>
      <th>{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="4">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for plan in plans %}
    <tr>
      <td>{{ plan.name }}</td>
      <td>{{ plan.firstDate|club_datetime }}</td>
      <td>{{ plan.endDate|club_datetime }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('club_booking_adminplan_edit', { 'id':plan.id })} %}
        {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('club_booking_adminplan_delete', { 'id':plan.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="4">{% trans %}There are no plans.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
