{% extends "ClubLayoutBundle:Default:base.html.twig" %}

{% block header %}<h1>Subscriptions</h1>{% endblock %}

{% block body %}

{% include "ClubShopBundle:AdminSubscription:subscription_table.html.twig" with {'user': user} %}
{% include "ClubShopBundle:AdminSubscription:ticket_coupon_table.html.twig" with {'user': user} %}

{% endblock %}
