<h2>{% trans %}Subscriptions{% endtrans %}</h2>

<table class="table">
  <thead>
    <tr>
      <th>{% trans %}Active{% endtrans %}</th>
      <th>{% trans %}Name{% endtrans %}</th>
      <th>{% trans %}Start date{% endtrans %}</th>
      <th>{% trans %}Expire date{% endtrans %}</th>
      <th class="action">{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
  {% for subscription in user.subscriptions %}
    <tr class="{% if subscription.active %}success{% else %}error{% endif %}">
      <td>{% include "ClubLayoutBundle:Default:boolean.html.twig" with {'flag':subscription.active} %}</td>
      <td>{{ subscription.user.profile.firstName }} {{ subscription.user.profile.lastName }}</td>
      <td>{{ subscription.startDate|club_datetime }}</td>
      {% if subscription.expireDate == '' %}
      <td>{% trans %}Never{% endtrans %}</td>
      {% else %}
      <td>{{ subscription.expireDate|club_datetime }}</td>
      {% endif %}
      <td>
        {% if subscription.active %}
          {% include "ClubLayoutBundle:Default:expire_link.html.twig" with {'url':path('admin_shop_subscription_expire', {'id':subscription.id})} %}
        {% include "ClubLayoutBundle:Default:show_link.html.twig" with {'url':path('club_shop_subscription_show', {'id':subscription.id})} %}
          {% if subscription.paused %}
            {% include "ClubLayoutBundle:Default:resume_link.html.twig" with {'url':path('admin_shop_subscription_resume', {'id':subscription.id})} %}
          {% elseif not subscription.expireDate == '' %}
            {% include "ClubLayoutBundle:Default:pause_link.html.twig" with {'url':path('admin_shop_subscription_pause', {'id':subscription.id})} %}
          {% endif %}
        {% endif %}
      </td>
    </tr>
  {% else %}
    <tr>
      <td colspan="5">{% trans %}There is no subscriptions for this user.{% endtrans %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

