{% extends "ClubLayoutBundle::base.html.twig" %}

{% block header %}
<div class="page-header">
    <h1><img class="img-polaroid" src="{{ asset('bundles/clublayout/images/icons/32x32/connect.png') }}" /> {% trans %}Exchange{% endtrans %}</h1>
</div>
{% endblock %}
