{% extends "ClubPasskeyBundle::base.html.twig" %}

{% block body %}

<form method="post" action="{{ path('club_passkey_adminpasskey_edit', {'id':passkey.id}) }}">
{% include "ClubLayoutBundle:Default:form.html.twig" %}
</form>

{% endblock %}
