<div class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="{{ path('club_passkey_adminpasskey_new') }}">{% trans %}Create passkey{% endtrans %}</a></li>
        </ul>
    </div>
</div>

