{% extends "ClubPasskeyBundle::base.html.twig" %}

{% block body %}
<p class="box"><a href="{{ path('club_passkey_adminpasskey_new') }}" class="btn-create"><span>{% trans %}Create passkey{% endtrans %}</span></a></p>

<table class="table">
  <thead>
    <tr>
      <th>{% trans %}Key{% endtrans %}</th>
      <th>{% trans %}User{% endtrans %}</th>
      <th>{% trans %}Created at{% endtrans %}</th>
      <th class="action">{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="4">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for passkey in passkeys %}
    <tr>
      <td>{{ passkey.keyIdentity }}</td>
      <td>{% if passkey.user %}{{ passkey.user.name }}{% endif %}</td>
      <td>{{ passkey.createdAt|club_date }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('club_passkey_adminpasskey_edit', { 'id':passkey.id })} %}
        {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('club_passkey_adminpasskey_delete', { 'id':passkey.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="4">{% trans %}There are no passkeys.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
