{% extends "ClubShopBundle::base.html.twig" %}

{% block body %}

<form method="post" action="{{ path('club_shop_admincoupon_edit', {'id':coupon.id}) }}">
{% include "ClubLayoutBundle:Default:form.html.twig" %}
</form>

{% endblock %}
