{% extends "ClubShopBundle::base.html.twig" %}

{% block pagenav %}
{% include "ClubShopBundle:AdminCoupon:header.html.twig" %}
{% endblock %}

{% block body %}
<h2>{% trans %}Coupon log{% endtrans %}</h2>

<table class="table">
  <thead>
    <tr>
      <th>{% trans %}Coupon{% endtrans %}</th>
      <th>{% trans %}User{% endtrans %}</th>
      <th>{% trans %}Used at{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
  {% for coupon in coupons %}
    <tr>
      <td>{{ coupon.coupon.couponKey }}</td>
      <td>{% if coupon.user %}{{ coupon.user.profile.name }}{% else %}{% trans %}Guest{% endtrans %}{% endif %}</td>
      <td>{{ coupon.createdAt|club_datetime }}</td>
    </tr>
  {% else %}
  <tr>
    <td colspan="3">{% trans %}This coupon has never been used.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
