{% extends "ClubShopBundle::base.html.twig" %}

{% block body %}
<h2>{% trans %}Coupon log{% endtrans %}</h2>

<table class="style">
  <thead>
    <tr>
      <th>{% trans %}Coupon{% endtrans %}</th>
      <th>{% trans %}User{% endtrans %}</th>
      <th>{% trans %}Used at{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="3">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for coupon in coupons %}
    <tr>
      <td>{{ coupon.coupon.couponKey }}</td>
      <td>{{ coupon.user.profile.name }}</td>
      <td>{{ coupon.createdAt|club_datetime }}</td>
    </tr>
  {% else %}
  <tr>
    <td colspan="3">{% trans %}This coupon has never been used.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
