{% extends "ClubTeamBundle::base.html.twig" %}

{% block body %}

<form method="post" action="{{ path('club_team_adminrepetition_edit', {'id':repetition.id, 'schedule_id':repetition.schedule.id, 'team_id':repetition.schedule.team.id}) }}">
  {% include "ClubTeamBundle:AdminRepetition:form.html.twig" %}
</form>

{% endblock %}
