<h2>{% trans %}Repetition Daily{% endtrans %}</h2>
{% include "ClubLayoutBundle:Default:form.html.twig" with {'path':path, 'form':form_daily} %}

<h2>{% trans %}Repetition Weekly{% endtrans %}</h2>
{% include "ClubLayoutBundle:Default:form.html.twig" with {'path':path, 'form':form_weekly} %}

<h2>{% trans %}Repetition Monthly{% endtrans %}</h2>
{% include "ClubLayoutBundle:Default:form.html.twig" with {'path':path, 'form':form_monthly} %}

<h2>{% trans %}Repetition Yearly{% endtrans %}</h2>
{% include "ClubLayoutBundle:Default:form.html.twig" with {'path':path, 'form':form_yearly} %}
