{% extends "ClubUserBundle::base.html.twig" %}

{% block header %}
<h1 class="page-header">{% trans %}Login Log{% endtrans %}</h1>
{% endblock %}

{% block body %}

{% include "ClubLogBundle:Log:header.html.twig" %}
{% include "ClubUserBundle:LoginLog:logs.html.twig" %}

{% endblock %}
