{% extends "ClubLayoutBundle::base.html.twig" %}

{% block header %}
<h1 class="page-header"><img src="{{ asset('bundles/clublayout/images/icons/32x32/monitor.png') }}" /> {% trans %}Dashboard{% endtrans %}</h1>
{% endblock %}
