{% extends "ClubShopBundle::base.html.twig" %}

{% block body %}
<p class="box"><a href="{{ path('admin_shop_payment_method_new') }}" class="btn-create"><span>{% trans %}Create payment method{% endtrans %}</span></a></p>

<table class="table">
  <thead>
    <tr>
      <th>{% trans %}Payment method{% endtrans %}</th>
      <th>{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="2">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for payment_method in payment_methods %}
    <tr>
      <td>{{ payment_method.paymentMethodName }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('admin_shop_payment_method_edit', { 'id':payment_method.id })} %}
        {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('admin_shop_payment_method_delete', { 'id':payment_method.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="2">{% trans %}There are no payment methods.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
