{% extends "ClubShopBundle::base.html.twig" %}

{% block body %}
<p>Enable and disable of payment methods is done in the clubmaster.yml file.</p>

<table class="table">
  <thead>
    <tr>
      <th>{% trans %}Payment method{% endtrans %}</th>
      <th class="action">{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
  {% for payment_method in payment_methods %}
    <tr>
      <td>{{ payment_method.paymentMethodName }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('admin_shop_payment_method_edit', { 'id':payment_method.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="2">{% trans %}There are no payment methods.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
