{% extends "::base.html.twig" %}

{% block body %}
<h1>Payment method</h1>

<form method="post" action="{{ path('admin_shop_payment_method_new') }}">
{% include "ClubShopBundle:AdminPaymentMethod:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
