{% extends "ClubShopBundle::base.html.twig" %}

{% block javascripts %}
  {% include "ClubLayoutBundle:Default:tinymce.html.twig" %}
{% endblock %}

{% block body %}

<form method="post" action="{{ path('admin_shop_payment_method_new') }}">
{% include "ClubShopBundle:AdminPaymentMethod:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
