{% extends "ClubShopBundle::base.html.twig" %}


{% block body %}

<form method="post" action="{{ path('admin_shop_payment_method_new') }}">
{% include "ClubShopBundle:AdminPaymentMethod:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
