{% extends "ClubWelcomeBundle::base.html.twig" %}

{% block javascripts %}
  {% include "ClubLayoutBundle:Default:tinymce.html.twig" %}
{% endblock %}

{% block body %}

<form method="post" action="{{ path('club_welcome_adminwelcome_edit', {'location_id':welcome.location.id}) }}">
{% include "ClubWelcomeBundle:AdminWelcome:form.html.twig" %}
</form>

{% endblock %}
