<!-- Submit -->
<div id="submit" class="box-01 box" style="display:none;">
  <form method="POST" action="{{ path('club_shop_adminorderfilter_filter') }}">

    {{ form_widget(form) }}
    <input type="submit" value="{% trans %}Filter{% endtrans %}" class="input-submit" />

  </form>
</div>
