<!-- Submit -->
<div id="submit" class="box-01 box" style="display:none;">
  <form method="POST" action="{{ path('club_shop_adminorderfilter_filter') }}">

    {{ form_row(form) }}
    <input type="submit" value="Filter" class="input-submit" />

  </form>
</div>
