{% extends "ClubMatchBundle::base.html.twig" %}

{% block body %}

<p class="box">
  <a href="" class="btn-create"><span>{% trans %}Create match{% endtrans %}</span></a>
</p>

{% for league in leagues %}
  <h3><a href="{{ path('club_match_league_show', {'id':league.id}) }}">{{ league.name }}</a></h3>

  {% include "ClubMatchBundle:League:match_button.html.twig" %}

  {% render "ClubMatchBundle:League:Top" with {'id':league.id, 'limit':4} %}
  {% render "ClubMatchBundle:League:RecentMatches" with {'id':league.id, 'limit':10} %}

{% else %}
  <p>{% trans %}There are no leagues.{% endtrans %}</p>
{% endfor %}

{% endblock %}
