{% extends "ClubMatchBundle::base.html.twig" %}

{% block body %}

{% for league in leagues %}
  <h3>{{ league.name }}</h3>

  {% include "ClubMatchBundle:League:match_button.html.twig" %}
  {% render "ClubMatchBundle:League:RecentMatches" with {'id':league.id} %}
  {% render "ClubMatchBundle:League:Top" with {'id':league.id} %}

{% else %}
  <p>{% trans %}There are no leagues.{% endtrans %}</p>
{% endfor %}

{% endblock %}
