{% extends "ClubLayoutBundle:Default:base.html.twig" %}

{% block header %}<h1>Location</h1>{% endblock %}

{% block body %}

<form method="post" action="{{ path('admin_location_config_edit', {'id':config.id}) }}">
{% include "ClubUserBundle:LocationConfig:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
