div#overlay
{
  position: relative;
  border: solid 1px #c3c3c3;
  padding-right: 20px;
  overflow: hidden;
}

div#nav_overlay
{
  position: absolute;
  left: 100px;
  top: 0px;
  overflow: hidden;
  border-left: solid 1px #c3c3c3;
}

div#preloader
{
  margin-top: 100px;
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
}

div#booking
{
  display: none;
  position: absolute;
  z-index: 0px;
  padding-right: 20px;
  background-color: #f4f4f4;
}

div#booking div#times
{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

div#booking div#fields
{
  position: absolute;
  left: 0px;
  top: 40px;
  z-index: 0;
}

div#booking div#intervals
{
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 10;
}

div#booking div#bookings
{
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 10;
}

div#booking a
{
  text-decoration: none;
  color: #444444;
}

div#booking a:hover
{
  text-decoration: none;
  color: #747474;
}

div#booking div.interval
{
  position: absolute;
  background-color: #b8f88e;
  font-size: 11px;
  border: dotted 1px #aeaeae;
  padding: 5px 0px 0px 0px;
  z-index: 20;
}

div#booking div.future:hover
{
  background-color: #9dd578;
}

div#booking div.past
{
  background-color: #dcdcdc;
}

div#booking div.past:hover
{
  background-color: #e3e3e3;
}

div#booking div#bookings div
{
  position: absolute;
  font-size: 11px;
  border: dotted 1px #aeaeae;
  padding: 5px 0px 0px 0px;
  z-index: 30;
}

div#booking div#bookings div.booking
{
  background-color: #bd6c6c;
}

div#booking div#bookings div.booking:hover
{
  background-color: #cb7c7c;
}

div#booking div#bookings div.plan
{
  background-color: #a9c0d5;
}

div#booking div#bookings div.plan:hover
{
  background-color: #95b1cb;
}

div#booking div#bookings div.team
{
  background-color: #a9c0d5;
}

div#booking div#bookings div.team:hover
{
  background-color: #95b1cb;
}

div#booking div#times div
{
  position: absolute;
  height: 100%;
  float: left;
  border-left: dotted 1px #c3c3c3;
  text-align: center;
  background-color: #f4f4f4;
}

div#booking div.field
{
  position: absolute;
  width: 100%;
  border-top: solid 1px #c3c3c3;
  background-color: #5f5f5f;
  color: #ffffff;
}

div#booking .link
{
  cursor: pointer;
}
