  {% if is_granted('IS_AUTHENTICATED_FULLY') and game.isOpen %}
  {% if game.inviteOnly and game.canPlay(app.user) %}

  <p class="box">
    <a href="{{ path('club_match_match_new', {'game_id':game.id}) }}" class="btn-create"><span>{% trans %}Create match{% endtrans %}</span></a>
  </p>

  {% elseif not game.inviteOnly  %}

  <p class="box">
    <a href="{{ path('club_match_match_new', {'game_id':game.id}) }}" class="btn-create"><span>{% trans %}Create match{% endtrans %}</span></a>
  </p>

  {% endif %}
  {% endif %}
