{% extends "ClubBookingBundle::base.html.twig" %}

{% block body %}
<h2>{% trans %}Locations{% endtrans %}</h2>

<p>{% trans %}There is no fields in the current location, what location do you want to go to?{% endtrans %}</p>
{% for location in locations %}
  <p><a href="{{ path('club_booking_location_switch', {'id':location.id}) }}">{{ location.locationName }}</a></p>
{% endfor %}

{% endblock %}
