{% extends "ClubLayoutBundle:Default:base.html.twig" %}

{% block header %}<h1>Special</h1>{% endblock %}

{% block body %}

<form method="post" action="{{ path('admin_shop_special_edit', {'id':special.id}) }}">
{% include "ClubShopBundle:AdminSpecial:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
