{% extends "ClubLayoutBundle:Default:base.html.twig" %}

{% block header %}<h1>Special</h1>{% endblock %}

{% block body %}
<p class="box"><a href="{{ path('admin_shop_special_new') }}" class="btn-create"><span>Create special</span></a></p>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Product</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="4">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for special in specials %}
    <tr>
      <td>{{ special.id }}</td>
      <td>{{ special.product.productName }}</td>
      <td>{{ special.price }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('admin_shop_special_edit', { 'id':special.id })} %}
        {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('admin_shop_special_delete', { 'id':special.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="4">There are no specials at the time</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</form>
{% endblock %}
