{% extends "ClubRankingBundle::base.html.twig" %}

{% block body %}

{% for ranking in rankings %}
  <h3><a href="{{ path('club_ranking_ranking_show', {'id':ranking.id}) }}">{{ ranking.name }}</a></h3>
  {% render(controller("ClubRankingBundle:Ranking:Top", {'id':ranking.id, 'limit':ranking_view_top})) %}

{% else %}
<table class="table">
    <thead>
        <tr>
            <th>{% trans %}Ranking{% endtrans %}</th>
        </tr>
    <thead>
    <tbody>
        <tr>
            <td>{% trans %}There are no ranking.{% endtrans %}</td>
        </tr>
    </tbody>
</table>

{% endfor %}

{% endblock %}
