{% extends "ClubRankingBundle::base.html.twig" %}

{% block body %}

{% for ranking in rankings %}
  <h3><a href="{{ path('club_ranking_ranking_show', {'id':ranking.id}) }}">{{ ranking.name }}</a></h3>
  {% render "ClubRankingBundle:Ranking:Top" with {'id':ranking.id, 'limit':ranking_view_top} %}

{% else %}
  {% include "ClubLayoutBundle:Default:flash_warning.html.twig" with {'msg':'There are no rankings.'|trans} %}</p>
{% endfor %}

{% endblock %}
