  {% if is_granted('IS_AUTHENTICATED_FULLY') and ranking.isOpen %}
  {% if ranking.inviteOnly and ranking.canPlay(app.user) %}

  <p><a href="{{ path('club_ranking_rankingmatch_new', {'ranking_id':ranking.id}) }}" class="btn btn-primary">{% trans %}Insert match{% endtrans %}</a></p>
  {% elseif not ranking.inviteOnly  %}
    <p><a href="{{ path('club_ranking_rankingmatch_new', {'ranking_id':ranking.id}) }}" class="btn btn-primary">{% trans %}Insert match{% endtrans %}</a></p>
  {% endif %}
  {% endif %}
