{% extends "ClubMatchBundle::base.html.twig" %}

{% block pagenav %}
<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="{{ path('club_match_adminleague_new') }}">{% trans %}Create league{% endtrans %}</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block body %}
<table class="table">
  <thead>
    <tr>
      <th>{% trans %}League{% endtrans %}</th>
      <th>{% trans %}Invite only{% endtrans %}</th>
      <th>{% trans %}Created at{% endtrans %}</th>
      <th class="action">{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="5">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for league in leagues %}
    <tr>
      <td>{{ league.name }}</td>
      <td>{% if league.inviteOnly %}Invite only{% else %}{% trans %}Open for all{% endtrans %}{% endif %}</td>
      <td>{{ league.createdAt|club_datetime }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('club_match_adminleague_edit', { 'id':league.id })} %}
        {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('club_match_adminleague_delete', { 'id':league.id })} %}
        {% include "ClubLayoutBundle:Default:players_link.html.twig" with {'url':path('club_match_adminleague_users', { 'id':league.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="5">{% trans %}There are no leagues.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
