div#preloader
{
  margin-top: 100px;
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
}

div#booking
{
  display: none;
  position: relative;
  border: solid 1px #c3c3c3;
  z-index: 0px;
}

div#booking div#times
{
  position: absolute;
  top: 0px;
  left: 100px;
  z-index: 0;
}

div#booking div#fields
{
  position: absolute;
  left: 0px;
  top: 40px;
  z-index: 0;
}

div#booking div#intervals
{
  position: absolute;
  top: 40px;
  left: 100px;
  z-index: 10;
}

div#booking a
{
  text-decoration: none;
  color: #444444;
}

div#booking a:hover
{
  text-decoration: none;
  color: #747474;
}

div#booking div.interval
{
  position: absolute;
  background-color: #b8f88e;
  font-size: 11px;
  border: dotted 1px #aeaeae;
  padding: 5px 0px 0px 0px;
  z-index: 20;
}

div#booking div.future:hover
{
  background-color: #9dd578;
}

div#booking div.past
{
  background-color: #dcdcdc;
}

div#booking div.past:hover
{
  background-color: #e3e3e3;
}

div#booking div.booking
{
  position: absolute;
  background-color: #cb7c7c;
  font-size: 11px;
  border: dotted 1px #aeaeae;
  padding: 5px 0px 0px 0px;
  z-index: 30;
}

div#booking div.time
{
  position: absolute;
  height: 100%;
  float: left;
  border-left: dotted 1px #c3c3c3;
  text-align: center;
}

div#booking div.field
{
  position: absolute;
  width: 100%;
  border-top: solid 1px #c3c3c3;
}

