/* WRITE YOUR CSS CODE HERE */
table.table th.action {
    width: 120px;
}

textarea.big {
    width: 80%;
    height: 300px;
}

div.time_period {
  width: 100%;
  border: none;
  padding: 0px;
  margin: 0px;
}

div.booking {
  background-color: #d2deff;
  width: 109px;
  padding: 0px;
  margin: 0px;
}

table#booking tbody td {
  padding: 0px !important;
}

table#booking td.odd {
  background-color: #bdbdbd;
}

table#booking td.even {
  background-color: #e8e8e8;
}

div.list label {
  width: 150px;
  float: left;
  font-weight: bold;
}

.ui-autocomplete-loading { background: white url('../images/ajax-loader-ball.gif') right center no-repeat; }

#ui-datepicker-div { z-index: 500 !important; }

div#search_box { width: 180px; }

div#search_box input, div#search_box select { max-width: 170px; }

table.style th a { color: #FFF; }

table.style td a { color: #000; }

span.label a { color: #fff; }

div.socialButtons div { float: left }
