{% extends "ClubRankingBundle::base.html.twig" %}

{% block pagenav %}
{% include "ClubRankingBundle:AdminRanking:header.html.twig" %}
{% endblock %}

{% block body %}
<table class="table">
  <thead>
    <tr>
      <th>{% trans %}Ranking{% endtrans %}</th>
      <th>{% trans %}Invite only{% endtrans %}</th>
      <th>{% trans %}Created at{% endtrans %}</th>
      <th class="action">{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
  {% for ranking in rankings %}
    <tr>
      <td>{{ ranking.name }}</td>
      <td>{% if ranking.inviteOnly %}Invite only{% else %}{% trans %}Open for all{% endtrans %}{% endif %}</td>
      <td>{{ ranking.createdAt|club_datetime }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('club_ranking_adminranking_edit', { 'id':ranking.id })} %}
        {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('club_ranking_adminranking_delete', { 'id':ranking.id })} %}
        {% include "ClubLayoutBundle:Default:players_link.html.twig" with {'url':path('club_ranking_adminranking_users', { 'id':ranking.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="5">{% trans %}There are no rankings.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
