{% extends "::base.html.twig" %}

{% block body %}
<h1>{{ profile.name }}</h1>

<form method="post" action="{{ path('admin_user_address', {'id': profile.id}) }}">
{% include "ClubUserBundle:AdminUser:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
