{% extends "ClubUserBundle::base.html.twig" %}

{% block body %}

{% include "ClubUserBundle:AdminUser:header.html.twig" %}

<form method="post" action="{{ path('admin_user_edit', {'id':user.id}) }}">
  {% include "ClubUserBundle:AdminUser:form.html.twig" %}
</form>

{% endblock %}
