{% extends "ClubUserBundle::base.html.twig" %}

{% block header %}
<div class="page-header">
    <h1><img class="img-polaroid" src="{{ asset('bundles/clublayout/images/icons/32x32/user.png') }}" /> {{ user.name }}</h1>
</div>
{% endblock %}

{% block body %}

{% include "ClubUserBundle:AdminUser:header.html.twig" %}

<form method="post" action="{{ path('admin_user_edit', {'id':user.id}) }}" class="form-horizontal">
  {% include "ClubUserBundle:AdminUser:form.html.twig" %}
</form>

{% endblock %}
