{% extends "::base.html.twig" %}

{% block header %}<h1>User</h1>{% endblock %}

{% block body %}

<form method="post" action="{{ path('admin_user_edit', {'id':user.id}) }}">
  {% include "ClubUserBundle:AdminUser:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
