{% extends "ClubUserBundle::base.html.twig" %}

{% block body %}
<form method="post" action="{{ path('admin_user_email', {'id': profile.id}) }}">
{% include "ClubUserBundle:AdminUser:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
