{% extends "::base.html.twig" %}

{% block body %}
<h1>{{ profile.name }}</h1>

<form method="post" action="{{ path('user_email', {'id': profile.id}) }}">
{% include "ClubUserBundle:User:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
