{% extends "ClubLayoutBundle:Default:base.html.twig" %}

{% block header %}<h1>{{ user.profile.name }}</h1>{% endblock %}

{% block body %}

<form method="post" action="{{ path('admin_user_group', {'id': user.id}) }}">
{% include "ClubUserBundle:AdminUser:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
