{% extends "ClubUserBundle::base.html.twig" %}

{% block pagenav %}
{% include "ClubUserBundle:AdminUser:publicHeader.html.twig" %}
{% endblock %}

{% block body %}
<form method="post" action="{{ path('admin_user_create') }}" class="form-horizontal">
{% include "ClubUserBundle:AdminUser:form.html.twig" %}
</form>

{% endblock %}
