{% extends "::base.html.twig" %}

{% block body %}
<h1>User</h1>

<form method="post" action="{{ path('user_new') }}">
{% include "ClubUserBundle:User:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
