{% extends "ClubUserBundle::base.html.twig" %}


{% block body %}

<form method="post" action="{{ path('admin_user_phone', {'id': profile.id}) }}">
{% include "ClubUserBundle:AdminUser:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
