{% extends "ClubTeamBundle::base.html.twig" %}

{% block body %}

<form method="post" action="{{ path('club_team_adminlevel_edit', {'id':level.id}) }}">
{% include "ClubLayoutBundle:Default:form.html.twig" %}
</form>

{% endblock %}
