{% extends "ClubTeamBundle::base.html.twig" %}

{% block body %}
<p class="box"><a href="{{ path('club_team_adminlevel_new') }}" class="btn-create"><span>{% trans %}Create level{% endtrans %}</span></a></p>

<table class="style">
  <thead>
    <tr>
      <th>{% trans %}Name{% endtrans %}</th>
      <th>{% trans %}Created at{% endtrans %}</th>
      <th>{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="3">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for level in levels %}
    <tr>
      <td>{{ level.levelName }}</td>
      <td>{{ level.createdAt|date('Y-m-d H:i:s') }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('club_team_adminlevel_edit', { 'id':level.id })} %}
        {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('club_team_adminlevel_delete', { 'id':level.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="3">{% trans %}There are no levels.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
