{% extends "::base.html.twig" %}

{% block body %}
<h1>Product</h1>

<form method="post" action="{{ path('admin_shop_product_edit', {'id':product.id}) }}">
{% include "ClubShopBundle:AdminProduct:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
