<div class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="{{ path('admin_shop_product_new') }}">{% trans %}Create product{% endtrans %}</a></li>
            <li><a href="{{ path('admin_shop_product_archive') }}">{% trans %}Archive{% endtrans %}</a></li>
        </ul>
    </div>
</div>

