{% extends "ClubShopBundle::base.html.twig" %}

{% block body %}
<p>{% trans %}You do not have a product category, you will have to add one before you can add products.{% endtrans %}</p>

<a href="{{ path('admin_shop_category_new') }}" class="btn btn-success">{% trans %}Create category{% endtrans %}</a>
{% endblock %}
