{% extends "ClubShopBundle::base.html.twig" %}

{% block body %}

{% include "ClubShopBundle:Order:order_information.html.twig" %}
{% include "ClubShopBundle:Order:order_form.html.twig" %}
{% include "ClubShopBundle:Order:order_history.html.twig" %}

{% if order.paid == false %}
{% for method in payments %}
<fieldset>
  <legend>{{ method.paymentMethodName }}</legend>

  <p>{% trans %}Click here to pay order.{% endtrans %}</p>
  <form method="post" action="{{ path(method.controller, {'order_id':order.id}) }}">
    {% include "ClubLayoutBundle:Default:submit_button.html.twig" with {'button':'Pay order'} %}
  </form>
</fieldset>
{% endfor %}
{% endif %}

{% if order.orderStatusHistory|length == 1 %}
<fieldset>
  <legend>{% trans %}Cancel order{% endtrans %}</legend>

  <p>{% trans %}Click here to cancel your order.{% endtrans %}</p>
  <form method="post" action="{{ path('shop_order_cancel', {'id':order.id}) }}">
    <hr class="noscreen" />
    <div class="box-01">
      <p class="nom"><input type="submit" value="{% trans %}Cancel{% endtrans %}" class="input-submit" /></p>
    </div> <!-- /box-01 -->
  </form>
</fieldset>
{% endif %}

{% endblock %}
