<h2>{% trans %}Order history{% endtrans %}</h2>
<table class="table">
  <thead>
    <tr>
      <th>{% trans %}Date{% endtrans %}</th>
      <th>{% trans %}Order status{% endtrans %}</th>
      <th>{% trans %}Note{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
  {% for status in order.orderStatusHistory %}
    <tr>
      <td>{{ status.createdAt|club_datetime }}</td>
      <td>{{ status.orderStatus.statusName }}</td>
      <td>{{ status.note }}</td>
  {% endfor %}
  </tbody>
</table>
