    <h2>{% trans %}Customer{% endtrans %}</h2>
    {% include "ClubShopBundle:Order:address_table.html.twig" with {'address':order.customerAddress} %}

    <h2>{% trans %}Shipping{% endtrans %}</h2>
    {% include "ClubShopBundle:Order:address_table.html.twig" with {'address':order.shippingAddress} %}

    <h2>{% trans %}Billing{% endtrans %}</h2>
    {% include "ClubShopBundle:Order:address_table.html.twig" with {'address':order.billingAddress} %}
