{% if order.shipping %}
    <h2>{% trans %}Shipping{% endtrans %}</h2>
    <table class="table table-bordered">
        <tr>
            <td>{{order.shipping.shippingName }}</td>
        </tr>
    </table>
{% endif %}
