{% extends "ClubWelcomeBundle::base.html.twig" %}

{% block body %}

<form method="post" action="{{ path('club_welcome_adminblog_edit', {'id':blog.id}) }}">
{% include "ClubWelcomeBundle:AdminBlog:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
