{% extends "ClubUserBundle::base.html.twig" %}

{% block pagenav %}
{% include "ClubUserBundle:AdminLocation:header.html.twig" %}
{% endblock %}

{% block body %}
<p>{% trans %}Here is a list of all locations, they are build in a tree structure to illustrate how they are child and parents of each other.{% endtrans %}</p>
<p>{% trans %}If you want to change some configuration, you can change it for all child elements by change the root element configurations.{% endtrans %}</p>

<ul>
  {% for location in locations %}
  <li>{{ location }}
  {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('admin_location_edit', {'id':location.id})} %}
  {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('admin_location_delete', {'id':location.id})} %}
  {% include "ClubLayoutBundle:Default:config_link.html.twig" with {'url':path('admin_location_config', {'id':location.id})} %}
  {% include "ClubLayoutBundle:Default:page_link.html.twig" with {'url':path('club_welcome_adminwelcome_edit', {'location_id':location.id})} %}

    <ul>{% for location1 in location.childs %}
      <li>{{ location1.locationName }}
  {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('admin_location_edit', {'id':location1.id})} %}
  {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('admin_location_delete', {'id':location1.id})} %}
  {% include "ClubLayoutBundle:Default:config_link.html.twig" with {'url':path('admin_location_config', {'id':location1.id})} %}
        <ul>{% for location2 in location1.childs %}
          <li>{{ location2.locationName }}
  {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('admin_location_edit', {'id':location2.id})} %}
  {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('admin_location_delete', {'id':location2.id})} %}
  {% include "ClubLayoutBundle:Default:config_link.html.twig" with {'url':path('admin_location_config', {'id':location2.id})} %}

            <ul>{% for location3 in location2.childs %}
              <li>{{ location3.locationName }}
  {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('admin_location_edit', {'id':location3.id})} %}
  {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('admin_location_delete', {'id':location3.id})} %}
  {% include "ClubLayoutBundle:Default:config_link.html.twig" with {'url':path('admin_location_config', {'id':location3.id})} %}
              </li>

            {% endfor %}</ul>
          </li>
        {% endfor %}</ul>
      </li>
    {% endfor %}</ul>
  </li>
  {% endfor %}</ul>
</ul>

{% endblock %}
