{% extends "ClubLayoutBundle:Default:base.html.twig" %}

{% block header %}<h1>Group</h1>{% endblock %}

{% block body %}

<form method="post" action="{{ path('admin_group_new') }}">
{% include "ClubUserBundle:Group:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
