{% extends "::base.html.twig" %}

{% block body %}
<h1>Group</h1>

<form method="post" action="{{ path('group_new') }}">
  <p>{{ form_field(form) }}</p>
  {% include "::submit_button.html.twig" %}
</form>

{% endblock %}
