{% extends "::base.html.twig" %}

{% block body %}
{{ app.session.flash('notice') }}
<form method="post" action="{{ path('group_new') }}">

{{ form_field(form) }}
<div><input type="submit" /></div>

</form>
{% endblock %}
