{% extends "::base.html.twig" %}

{% block body %}
<h1>Group</h1>

<form method="post" action="{{ path('admin_group_new') }}">
{% include "ClubUserBundle:Group:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
