{% if categories|length > 0 %}
<h3>{% trans %}Categories{% endtrans %}</h3>

<div class="row-fluid">
    {% for item in categories %}
    {% if loop.index0 is divisibleby(3) %}
    <ul class="thumbnails">
    {% endif %}
        <li class="span4">
            <div class="thumbnail">
                <h4><a href="{{ path('shop_prod_view', {'id':item.id}) }}">{{ item.categoryName }}</a> ({{ item.getProducts|length }})</h4>
                <p>{{ item.description|truncate(40) }}</p>
            </div>
        </li>

    {% if loop.index is divisibleby(3) or loop.last %}
    </ul>
    {% endif %}
    {% endfor %}
</div>

<hr>
{% endif %}

