{% extends "ClubShopBundle::base.html.twig" %}

{% block pagenav %}
<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="{{ path('shop_checkout') }}">{% trans %}View cart{% endtrans %}</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block body %}

{% include "ClubShopBundle:Shop:categories.html.twig" %}

{% if category %}
  {% include "ClubShopBundle:Shop:product_table.html.twig" with {'products':category.products} %}
{% endif %}

{% endblock %}
