{% if hide_categories == false and categories|length > 0 %}
<h3>{% trans %}Categories{% endtrans %}</h3>

{% for item in categories %}
    {% if loop.index0 is divisibleby(3) %}

    <div class="row-fluid">
    {% endif %}
        <div class="span4">
                <h3><img src="{{ asset('bundles/clublayout/images/icons/32x32/image.png') }}" />
                <a href="{{ path('shop_prod_view', {'id':item.id}) }}">{{ item.categoryName }}</a></h3>
                <p><strong>{% trans with {'%products%':item.activeProducts|length} %}%products% products in category{% endtrans %}</strong>. {{ item.description|truncate(40) }}</p>
            </div>

    {% if loop.index is divisibleby(3) or loop.last %}
    </div>
    {% endif %}
{% endfor %}

<hr>
{% endif %}

