{% block pagenav %}
<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">

            <li><a href="{{ path('shop_checkout') }}">{% trans %}View cart{% endtrans %}</a></li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="{{ path('shop_order') }}">{% trans %}Order{% endtrans %}</a></li>
            {% endif %}

        </ul>
    </div>
</div>
{% endblock %}

