{% extends "::base.html.twig" %}

{% block body %}
<h1>Group</h1>

<form method="post" action="{{ path('admin_user_note_new', {'id':user.id}) }}">
{% include "ClubUserBundle:UserNote:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
