{% extends "ClubLogBundle::base.html.twig" %}

{% block header %}
<h1 class="page-header">{% trans %}PHP Log{% endtrans %}</h1>
{% endblock %}

{% block body %}

{% include "ClubLogBundle:Log:header.html.twig" %}
{% include "ClubLogBundle:PhpLog:logs.html.twig" %}

{% endblock %}
