{% extends "ClubShopBundle::base.html.twig" %}

{% block body %}
<p class="box"><a href="{{ path('club_shop_adminvat_new') }}" class="btn-create"><span>{% trans %}Create vat{% endtrans %}</span></a></p>

<table class="style">
  <thead>
    <tr>
      <th>{% trans %}Name{% endtrans %}</th>
      <th>{% trans %}Rate{% endtrans %}</th>
      <th>{% trans %}Created at{% endtrans %}</th>
      <th>{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="4">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for vat in vats %}
    <tr>
      <td>{{ vat.vatName }}</td>
      <td>{{ vat.rate }}</td>
      <td>{{ vat.createdAt|date('Y-m-d H:i:s') }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('club_shop_adminvat_edit', { 'id':vat.id })} %}
        {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('club_shop_adminvat_delete', { 'id':vat.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="4">{% trans %}There are no vat.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
