{% extends "ClubUserBundle::base.html.twig" %}


{% block body %}
<h2>Location config</h2>

<form method="post" action="{{ path('admin_location_config_edit', {'id':config.id}) }}">
{% include "ClubUserBundle:AdminLocationConfig:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
