{% extends "ClubUserBundle::base.html.twig" %}

{% block pagenav %}
{% include "ClubUserBundle:AdminLocation:header.html.twig" %}
{% endblock %}

{% block body %}
<h2>{% trans %}Location config{% endtrans %}</h2>

<p>{% trans %}If a location does not have any settings, it will relay on its parents.{% endtrans %}</p>

{% include "ClubLayoutBundle:Default:form.html.twig" with {'path':path('admin_location_config', {'id':location.id})} %}

{% endblock %}
