{% extends "ClubUserBundle::base.html.twig" %}

{% block body %}
<h2>Location config</h2>

<p>If a location does not have any settings, it will relay on its parents.</p>

{% include "ClubUserBundle:AdminLocationConfig:form.html.twig" %}

{% endblock %}
