{% extends "ClubUserBundle::base.html.twig" %}


{% block body %}
<h2>Location config</h2>

<p>The config has to be one of the following:</p>
<ul>
  {% for conf in configs %}
  <li>{{ conf.configKey }}</li>
  {% endfor %}
</ul>

<form method="post" action="{{ path('club_user_adminlocationconfig_new', {'id':location.id}) }}">
{% include "ClubUserBundle:AdminLocationConfig:form.html.twig" with {'form': form} %}
</form>

{% endblock %}
