<table class="table">
    <tr>
        <th>{% trans %}Type{% endtrans %}</th>
        <th>{% trans %}Date{% endtrans %}</th>
        <th>{% trans %}Message{% endtrans %}</th>
        <th>{% trans %}Action{% endtrans %}</th>
    </tr>
    {% for item in activities %}

    <tr>
        <td><img src="{{ asset(item.type) }}" /></td>
        <td>{{ item.date|club_datetime }} ({{ item.date|club_ago }})</td>
        <td>{{ item.message }}</td>
        <td>{% if item.link is defined %}
            {% include "ClubLayoutBundle:Default:show_link.html.twig" with {'url':item.link} %}
        {% endif %}</td>
    </tr>
    {% else %}

    <tr>
        <td colspan="4">{% trans %}The user has no activities.{% endtrans %}</td>
    </tr>
    {% endfor %}
</table>

