{% extends "ClubLayoutBundle::base.html.twig" %}

{% block header %}
<h1 class="page-header"><img class="img-polaroid" src="{{ asset('bundles/clublayout/images/icons/32x32/medal_gold_1.png') }}" /> {% trans %}Ranking{% endtrans %}</h1>
{% endblock %}
