<h2><img src="{{ asset('bundles/clublayout/images/icons/32x32/vcard.png') }}" /> {% trans %}Your subscriptions{% endtrans %}</h2>

{% include "ClubShopBundle:Subscription:subscription_table.html.twig" %}
